<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NoSecurity">
          <security mode="None">
            <transport protectionLevel="EncryptAndSign" />
          </security>
        </binding>
      </netTcpBinding>
      <wsDualHttpBinding>
        <binding name="httpNoSecure">
          <security mode="None" />
        </binding>
      </wsDualHttpBinding>
    </bindings>
    <client />
    <behaviors>
      <serviceBehaviors>
        <behavior name="MetadataBehavior">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:8081/ServerService/mex" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="MetadataBehavior" name="AppFrameServer.Services.ServerService">
        <endpoint address="service" binding="netTcpBinding" bindingConfiguration="NoSecurity"
          name="TcpBinding" contract="AppFrameServer.Services.IServerService" />
        <endpoint address="service" binding="wsDualHttpBinding" bindingConfiguration="httpNoSecure"
          name="HttpBinding" contract="AppFrameServer.Services.IServerService" />
        <endpoint address="mex" binding="mexHttpBinding" name="MexBinding"
          contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8000/ServerService/" />
            <add baseAddress="http://localhost:8081/ServerService/" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>