<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net"
        
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:appframe="http://www.appframe.com/schema/appframe"
	xsi:schemaLocation="http://www.springframework.net http://www.springframework.net/xsd/spring-objects.xsd">

  <!-- START Logic definitions -->
  <object name="SalePointController" type="AppFrameClient.Presenter.SalePoints.SalePointController, AppFrameClient" singleton="true">
    <property name="EmployeeLogic" ref="AppFrame.Service.IEmployeeLogic"     />
    <property name="EmployeeDetailLogic" ref="AppFrame.Service.IEmployeeDetailLogic"     />
    <property name="DepartmentLogic" ref="AppFrame.Service.IDepartmentLogic"     />
  </object>

  <!-- START Logic definitions -->
  <object name="SalePointListEventArgs" type ="AppFrame.Presenter.SalePoints.SalePointListEventArgs, AppFrame" />  
  <object name="SalePointListController" type="AppFrameClient.Presenter.SalePoints.SalePointListController, AppFrameClient">
    <property name="DepartmentLogic" ref="AppFrame.Service.IDepartmentLogic"     />
    <property name="ResultEventArgs" ref ="SalePointListEventArgs" />
  </object>
  
  
  <object name="EmployeeController" type="AppFrameClient.Presenter.SalePoints.EmployeeController, AppFrameClient">
    <property name="EmployeeLogic" ref="AppFrame.Service.IEmployeeLogic"     />
    <property name="EmployeeDetailLogic" ref="AppFrame.Service.IEmployeeDetailLogic"     />
  </object>
  
  <object name="ProductMasterController" type="AppFrameClient.Presenter.GoodsIO.ProductMasterController, AppFrameClient">
    <property name="ProductTypeLogic" ref="AppFrame.Service.IProductTypeLogic"     />
    <property name="ProductSizeLogic" ref="AppFrame.Service.IProductSizeLogic"     />
    <property name="ProductColorLogic" ref="AppFrame.Service.IProductColorLogic"     />
    <property name="CountryLogic" ref="AppFrame.Service.ICountryLogic"     />
    <property name="ProductMasterLogic" ref="AppFrame.Service.IProductMasterLogic"     />
    <property name="PackagerLogic" ref="AppFrame.Service.IPackagerLogic"     />
    <property name="ManufacturerLogic" ref="AppFrame.Service.IManufacturerLogic"     />
    <property name="DistributorLogic" ref="AppFrame.Service.IDistributorLogic"     />
    <property name="DepartmentPriceLogic" ref="AppFrame.Service.IDepartmentPriceLogic"     />
  </object>

    <object name="ProductMasterSearchOrCreateController" type="AppFrameClient.Presenter.GoodsIO.ProductMasterSearchOrCreateController, AppFrameClient">
        <property name="ProductTypeLogic" ref="AppFrame.Service.IProductTypeLogic"     />
        <property name="ProductSizeLogic" ref="AppFrame.Service.IProductSizeLogic"     />
        <property name="ProductColorLogic" ref="AppFrame.Service.IProductColorLogic"     />
        <property name="CountryLogic" ref="AppFrame.Service.ICountryLogic"     />
        <property name="ProductMasterLogic" ref="AppFrame.Service.IProductMasterLogic"     />
      <property name="PackagerLogic" ref="AppFrame.Service.IPackagerLogic"     />
      <property name="ManufacturerLogic" ref="AppFrame.Service.IManufacturerLogic"     />
      <property name="DistributorLogic" ref="AppFrame.Service.IDistributorLogic"     />
      
    </object>
  
    <object name="ProductMasterSearchDepartmentController" type="AppFrameClient.Presenter.GoodsIO.ProductMasterSearchDepartmentController, AppFrameClient">
        <property name="ProductTypeLogic" ref="AppFrame.Service.IProductTypeLogic"     />
        <property name="ProductSizeLogic" ref="AppFrame.Service.IProductSizeLogic"     />
        <property name="ProductColorLogic" ref="AppFrame.Service.IProductColorLogic"     />
        <property name="CountryLogic" ref="AppFrame.Service.ICountryLogic"     />
        <property name="ProductMasterLogic" ref="AppFrame.Service.IProductMasterLogic"     />
      <property name="PackagerLogic" ref="AppFrame.Service.IPackagerLogic"     />
      <property name="ManufacturerLogic" ref="AppFrame.Service.IManufacturerLogic"     />
      <property name="DistributorLogic" ref="AppFrame.Service.IDistributorLogic"     />
      <property name="ProductLogic" ref="AppFrame.Service.IProductLogic"     />
      <property name="DepartmentStockInDetailLogic" ref="AppFrame.Service.IDepartmentStockInDetailLogic"     />
    </object>
        
        
    <object name="GoodsIOSearchController" type="AppFrameClient.Presenter.GoodsIO.GoodsIOSearchController, AppFrameClient">
        <property name="BlockInDetailLogic" ref="AppFrame.Service.IBlockInDetailLogic"     />
    </object>
    <object name="StockCreateController" type="AppFrameClient.Presenter.GoodsIO.StockCreateController, AppFrameClient">
      <property name="StockLogic" ref="AppFrame.Service.IStockLogic"     />
      <property name="StockInDetailLogic" ref="AppFrame.Service.IStockInDetailLogic"     />
      <property name="StockInLogic" ref="AppFrame.Service.IStockInLogic"     />
      <property name="ReturnProductLogic" ref="AppFrame.Service.IReturnProductLogic"     />
    </object>
  <object name="StockSearchController" type="AppFrameClient.Presenter.GoodsIO.StockSearchController, AppFrameClient">
    <property name="StockLogic" ref="AppFrame.Service.IStockLogic"     />
    <property name="ProductTypeLogic" ref="AppFrame.Service.IProductTypeLogic"     />
    <property name="ProductSizeLogic" ref="AppFrame.Service.IProductSizeLogic"     />
    <property name="ProductColorLogic" ref="AppFrame.Service.IProductColorLogic"     />
    <property name="CountryLogic" ref="AppFrame.Service.ICountryLogic"     />
    <property name="PackagerLogic" ref="AppFrame.Service.IPackagerLogic"     />
    <property name="ManufacturerLogic" ref="AppFrame.Service.IManufacturerLogic"     />
    <property name="DistributorLogic" ref="AppFrame.Service.IDistributorLogic"     />
  </object>
  
  
  <object name="DepartmentStockInController" type="AppFrameClient.Presenter.GoodsIO.DepartmentStockData.DepartmentStockInController, AppFrameClient">
    <property name="DepartmentStockInLogic" ref="AppFrame.Service.IDepartmentStockInLogic"     />
    <property name="DepartmentStockInDetailLogic" ref="AppFrame.Service.IDepartmentStockInDetailLogic"     />
    <property name="ProductMasterLogic" ref="AppFrame.Service.IProductMasterLogic"     />
    <property name="DepartmentStockLogic" ref="AppFrame.Service.IDepartmentStockLogic"     />
    <property name="DepartmentPriceLogic" ref="AppFrame.Service.IDepartmentPriceLogic"     />
  </object>
  <!-- DepartmentStockInExtra-->
  <object name="DepartmentStockInExtraController" type="AppFrameClient.Presenter.GoodsIO.DepartmentStockData.DepartmentStockInExtraController, AppFrameClient">
    <property name="DepartmentStockInLogic" ref="AppFrame.Service.IDepartmentStockInLogic"     />
    <property name="DepartmentStockInDetailLogic" ref="AppFrame.Service.IDepartmentStockInDetailLogic"     />
    <property name="ProductMasterLogic" ref="AppFrame.Service.IProductMasterLogic"     />
    <property name="DepartmentStockLogic" ref="AppFrame.Service.IDepartmentStockLogic"     />
    <property name="ProductSizeLogic" ref="AppFrame.Service.IProductSizeLogic"     />
    <property name="ProductColorLogic" ref="AppFrame.Service.IProductColorLogic"     />
    <property name="DepartmentLogic" ref="AppFrame.Service.IDepartmentLogic"     />
    <property name="DepartmentPriceLogic" ref="AppFrame.Service.IDepartmentPriceLogic"     />
    <property name="StockLogic" ref="AppFrame.Service.IStockLogic"     />
  </object>
  <!-- DepartmentStockInExtra-->  
  
  <object name="DepartmentStockSearchController" type="AppFrameClient.Presenter.GoodsIO.DepartmentStockData.DepartmentStockSearchController, AppFrameClient">
    <property name="DepartmentStockLogic" ref="AppFrame.Service.IDepartmentStockLogic"     />
    <property name="ProductTypeLogic" ref="AppFrame.Service.IProductTypeLogic"     />
    <property name="ProductSizeLogic" ref="AppFrame.Service.IProductSizeLogic"     />
    <property name="ProductColorLogic" ref="AppFrame.Service.IProductColorLogic"     />
    <property name="CountryLogic" ref="AppFrame.Service.ICountryLogic"     />
    <property name="ManufacturerLogic" ref="AppFrame.Service.IManufacturerLogic"     />
  </object>
  <object name="UniversalMasterSaveController" type="AppFrameClient.Presenter.Masters.UniversalMasterSaveController, AppFrameClient">
    <property name="ProductTypeLogic" ref="AppFrame.Service.IProductTypeLogic"     />
    <property name="ProductSizeLogic" ref="AppFrame.Service.IProductSizeLogic"     />
    <property name="ProductColorLogic" ref="AppFrame.Service.IProductColorLogic"     />
    <property name="CountryLogic" ref="AppFrame.Service.ICountryLogic"     />
    <property name="ManufacturerLogic" ref="AppFrame.Service.IManufacturerLogic"     />
    <property name="DistributorLogic" ref="AppFrame.Service.IDistributorLogic"     />
    <property name="PackagerLogic" ref="AppFrame.Service.IPackagerLogic"     />
  </object>
  <object name="DepartmentStockDetailController" type="AppFrameClient.Presenter.GoodsIO.DepartmentStockData.DepartmentStockDetailController, AppFrameClient">
    <property name="DepartmentStockInDetailLogic" ref="AppFrame.Service.IDepartmentStockInDetailLogic"     />
    <property name="DepartmentPriceLogic" ref="AppFrame.Service.IDepartmentPriceLogic"     />
  </object>
  <object name="DepartmentStockInSearchController" type="AppFrameClient.Presenter.GoodsIO.DepartmentStockData.DepartmentStockInSearchController, AppFrameClient">
    <property name="DepartmentStockInLogic" ref="AppFrame.Service.IDepartmentStockInLogic"     />
  </object>
  <object name="MainStockInSearchController" type="AppFrameClient.Presenter.GoodsIO.MainStock.MainStockInSearchController, AppFrameClient">
    <property name="StockInLogic" ref="AppFrame.Service.IStockInLogic"     />
  </object>

  <object name="DepartmentPriceUpdateController" type="AppFrameClient.Presenter.GoodsIO.DepartmentStockData.DepartmentPriceUpdateController, AppFrameClient">
    <property name="DepartmentPriceLogic" ref="AppFrame.Service.IDepartmentPriceLogic"     />
    <property name="ProductTypeLogic" ref="AppFrame.Service.IProductTypeLogic"     />
    <property name="ProductSizeLogic" ref="AppFrame.Service.IProductSizeLogic"     />
    <property name="ProductColorLogic" ref="AppFrame.Service.IProductColorLogic"     />
    <property name="CountryLogic" ref="AppFrame.Service.ICountryLogic"     />
    <property name="PackagerLogic" ref="AppFrame.Service.IPackagerLogic"     />
    <property name="ManufacturerLogic" ref="AppFrame.Service.IManufacturerLogic"     />
    <property name="DistributorLogic" ref="AppFrame.Service.IDistributorLogic"     />
  </object>

  <object name="MainStockInController" type="AppFrameClient.Presenter.GoodsIO.MainStock.MainStockInController, AppFrameClient">
    <property name="ProductSizeLogic" ref="AppFrame.Service.IProductSizeLogic"     />
    <property name="ProductColorLogic" ref="AppFrame.Service.IProductColorLogic"     />
    <property name="ProductMasterLogic" ref="AppFrame.Service.IProductMasterLogic"     />
    <property name="StockInLogic" ref="AppFrame.Service.IStockInLogic"     />
    <property name="DepartmentPriceLogic" ref="AppFrame.Service.IDepartmentPriceLogic"     />
    <property name="StockOutDetailLogic" ref="AppFrame.Service.IStockOutDetailLogic"     />
  </object>
  
  <object name="InventoryCheckingController" type="AppFrameClient.Presenter.GoodsIO.MainStock.InventoryCheckingController, AppFrameClient">    
    <property name="ProductMasterLogic" ref="AppFrame.Service.IProductMasterLogic"     />    
    <property name="ProductLogic" ref="AppFrame.Service.IProductLogic" />
    <property name="StockLogic" ref="AppFrame.Service.IStockLogic" />
    <property name="StockInLogic" ref="AppFrame.Service.IStockInLogic" />
    <property name="StockDefectLogic" ref="AppFrame.Service.IStockDefectLogic" />    
    <property name="StockInDetailLogic" ref="AppFrame.Service.IStockInDetailLogic" />
    
  </object>
  
  <object name="ProcessErrorGoodsController" type="AppFrameClient.Presenter.GoodsIO.MainStock.ProcessErrorGoodsController, AppFrameClient">        
    <property name="StockLogic" ref="AppFrame.Service.IStockLogic" />
    <property name="StockOutLogic" ref="AppFrame.Service.IStockOutLogic" />
    <property name="StockDefectLogic" ref="AppFrame.Service.IStockDefectLogic" />    
    <property name="StockOutDetailLogic" ref="AppFrame.Service.IStockOutDetailLogic" />
    
  </object>
    
  
    
  <object name="DepartmentStockCheckingController" type="AppFrameClient.Presenter.GoodsIO.DepartmentStockData.DepartmentStockCheckingController, AppFrameClient">
    <property name="ProductMasterLogic" ref="AppFrame.Service.IProductMasterLogic"     />
    <property name="ProductLogic" ref="AppFrame.Service.IProductLogic" />
    <property name="DepartmentStockLogic" ref="AppFrame.Service.IDepartmentStockLogic" />
    <property name="DepartmentStockInLogic" ref="AppFrame.Service.IDepartmentStockInLogic" />
    <property name="DepartmentStockDefectLogic" ref="AppFrame.Service.IDepartmentStockDefectLogic" />
    <property name="DepartmentStockInDetailLogic" ref="AppFrame.Service.IDepartmentStockInDetailLogic" />

  </object>
  
  <object name="GoodsSaleController" type="AppFrameClient.Presenter.GoodsSale.GoodsSaleController, AppFrameClient">
    <property name="PurchaseOrderLogic" ref="AppFrame.Service.IPurchaseOrderLogic" />
    <property name="PurchaseOrderDetailLogic" ref="AppFrame.Service.IPurchaseOrderDetailLogic" />
    <property name="DepartmentPriceLogic" ref="AppFrame.Service.IDepartmentPriceLogic"     />
    <property name="ProductMasterLogic" ref="AppFrame.Service.IProductMasterLogic" />
    <property name="ProductLogic" ref="AppFrame.Service.IProductLogic" />
  </object>


  <object name="GoodsSaleReturnController" type="AppFrameClient.Presenter.GoodsSale.GoodsSaleReturnController, AppFrameClient">
    <property name="PurchaseOrderLogic" ref="AppFrame.Service.IPurchaseOrderLogic" />
    <property name="PurchaseOrderDetailLogic" ref="AppFrame.Service.IPurchaseOrderDetailLogic" />
    <property name="DepartmentPriceLogic" ref="AppFrame.Service.IDepartmentPriceLogic"     />
    <property name="ProductMasterLogic" ref="AppFrame.Service.IProductMasterLogic" />
    <property name="ProductLogic" ref="AppFrame.Service.IProductLogic" />
    <property name="ReturnPoLogic" ref="AppFrame.Service.IReturnPoLogic" />
  </object>
  
  
  <object name="GoodsSaleListController" type="AppFrameClient.Presenter.GoodsSale.GoodsSaleListController, AppFrameClient">
    <property name="PurchaseOrderLogic" ref="AppFrame.Service.IPurchaseOrderLogic" />
    <property name="PurchaseOrderDetailLogic" ref="AppFrame.Service.IPurchaseOrderDetailLogic" />    
    <property name="ProductMasterLogic" ref="AppFrame.Service.IProductMasterLogic" />
  </object>


  <object name="BaseStockOutController" type="AppFrameClient.Presenter.GoodsIO.MainStock.BaseStockOutController, AppFrameClient">
    <property name="StockLogic" ref="AppFrame.Service.IStockLogic" />
    <property name="StockDefectLogic" ref="AppFrame.Service.IStockDefectLogic" />
    <property name="StockOutLogic" ref="AppFrame.Service.IStockOutLogic" />
    <property name="StockOutDetailLogic" ref="AppFrame.Service.IStockOutDetailLogic" />
    <property name="ProductMasterLogic" ref="AppFrame.Service.IProductMasterLogic" />
    <property name="ProductLogic" ref="AppFrame.Service.IProductLogic" />
    <property name="DepartmentStockDefectLogic" ref="AppFrame.Service.IDepartmentStockDefectLogic" />
    <property name="DepartmentStockOutLogic" ref="AppFrame.Service.IDepartmentStockOutLogic" />    
    <property name="DepartmentStockOutDetailLogic" ref="AppFrame.Service.IDepartmentStockOutDetailLogic" />
  </object>
  
  
  <object name="ReportStockInController" type="AppFrameClient.Presenter.Report.ReportStockInController, AppFrameClient">
    <property name="StockLogic" ref="AppFrame.Service.IStockLogic" />
    <property name="StockInLogic" ref="AppFrame.Service.IStockInLogic" />
    <property name="StockInDetailLogic" ref="AppFrame.Service.IStockInDetailLogic" />  
  </object>

  <object name="ReportStockOutController" type="AppFrameClient.Presenter.Report.ReportStockOutController, AppFrameClient">
    <property name="DepartmentStockInLogic" ref="AppFrame.Service.IDepartmentStockInLogic"     />
    <property name="DepartmentStockInDetailLogic" ref="AppFrame.Service.IDepartmentStockInDetailLogic"     />
    <property name="DepartmentStockOutLogic" ref="AppFrame.Service.IDepartmentStockOutLogic"     />
    <property name="DepartmentStockOutDetailLogic" ref="AppFrame.Service.IDepartmentStockOutDetailLogic"     />
    <property name="StockOutLogic" ref="AppFrame.Service.IStockOutLogic"     />
    <property name="StockOutDetailLogic" ref="AppFrame.Service.IStockOutDetailLogic"     />
    <property name="StockLogic" ref="AppFrame.Service.IStockLogic"     />
    <property name="StockDefectLogic" ref="AppFrame.Service.IStockDefectLogic"     />
    <property name="DepartmentLogic" ref="AppFrame.Service.IDepartmentLogic" />    
  </object>

  <object name="MainStockOutController" type="AppFrameClient.Presenter.GoodsIO.MainStock.MainStockOutController, AppFrameClient">
    <property name="StockOutLogic" ref="AppFrame.Service.IStockOutLogic"     />
    <property name="StockLogic" ref="AppFrame.Service.IStockLogic"     />
    <property name="StockDefectLogic" ref="AppFrame.Service.IStockDefectLogic"     />
    <property name="ProductColorLogic" ref="AppFrame.Service.IProductColorLogic"     />
    <property name="ProductSizeLogic" ref="AppFrame.Service.IProductSizeLogic"     />
    <property name="ProductMasterLogic" ref="AppFrame.Service.IProductMasterLogic"     />
  </object>

  <object name="DepartmentStockOutController" type="AppFrameClient.Presenter.GoodsIO.DepartmentStockData.DepartmentStockOutController, AppFrameClient">
    <property name="DepartmentStockOutLogic" ref="AppFrame.Service.IDepartmentStockOutLogic"     />
    <property name="DepartmentStockLogic" ref="AppFrame.Service.IDepartmentStockLogic"     />
    <property name="DepartmentStockDefectLogic" ref="AppFrame.Service.IDepartmentStockDefectLogic"     />
    <property name="ProductColorLogic" ref="AppFrame.Service.IProductColorLogic"     />
    <property name="ProductSizeLogic" ref="AppFrame.Service.IProductSizeLogic"     />
    <property name="ProductMasterLogic" ref="AppFrame.Service.IProductMasterLogic"     />
  </object>
  
  <!-- END Logic definitions -->
  <!-- START Form definitions -->
  <object id="SalePointView" type="AppFrameClient.View.SalePoints.SalePointForm, AppFrameClient" singleton="false">
    <property name="SalePointController" ref="SalePointController" />
    
    <!-- START foreign controller -->
    <property name="EmployeeController" ref="EmployeeController" />
    <!-- END foreign controller -->
  </object>
  <object id="EmployeeView" type="AppFrameClient.View.SalePoints.EmployeeForm, AppFrameClient" singleton="false">    
    <property name="EmployeeController" ref="EmployeeController" />
    
    <!-- START foreign controller -->
    <property name="SalePointController" ref="SalePointController" />
    <!-- END foreign controller -->
  </object>

  <object id="SalePointListView" type="AppFrameClient.View.SalePoints.SalePointListForm, AppFrameClient" singleton="false">
    <property name="SalePointListController" ref="SalePointListController" />

    <!-- START foreign controller -->
    <property name="SalePointController" ref="SalePointController" />    
    <!-- END foreign controller -->
  </object>
  
  <object id="GoodsSaleView" type="AppFrameClient.View.GoodsSale.GoodsSaleForm, AppFrameClient" singleton="false">
    <property name="GoodsSaleController" ref="GoodsSaleController" />
  </object>

  <object id="GoodsSaleReturnView" type="AppFrameClient.View.GoodsSale.GoodsSaleReturnForm, AppFrameClient" singleton="false">
    <property name="GoodsSaleReturnController" ref="GoodsSaleReturnController" />
  </object>
  
  <object id="GoodsSaleListView" type="AppFrameClient.View.GoodsSale.GoodsSaleListForm, AppFrameClient" singleton="false">
    <property name="GoodsSaleListController" ref="GoodsSaleListController" />
  </object>

  <object id="SearchGoodsSaleListView" type="AppFrameClient.View.GoodsSale.SearchGoodsSaleListForm, AppFrameClient" singleton="false">
    <property name="GoodsSaleListController" ref="GoodsSaleListController" />
  </object>
  
  <object id="DayGoodsSaleListView" type="AppFrameClient.View.GoodsSale.DayGoodsSaleListForm, AppFrameClient" singleton="false">
    <property name="GoodsSaleListController" ref="GoodsSaleListController" />
  </object>
  <object id="MonthGoodsSaleListView" type="AppFrameClient.View.GoodsSale.MonthGoodsSaleListForm, AppFrameClient" singleton="false">
    <property name="GoodsSaleListController" ref="GoodsSaleListController" />
  </object>

  <object id="ProductMasterView" type="AppFrameClient.View.GoodsIO.ProductMasterForm, AppFrameClient" singleton="false">    
    <property name="ProductMasterController" ref="ProductMasterController" />
  </object>

  <object id="ProductMasterCreateView" type="AppFrameClient.View.GoodsIO.ProductMasterCreateForm, AppFrameClient" singleton="false">
    <property name="ProductMasterController" ref="ProductMasterController" />
  </object>

  <object id="ProductMasterSearchOrCreateView" type="AppFrameClient.View.GoodsIO.ProductMasterSearchOrCreateForm, AppFrameClient" singleton="false">
    <property name="ProductMasterSearchOrCreateController" ref="ProductMasterSearchOrCreateController" />
  </object>
  <object id="ProductMasterSearchDepartmentView" type="AppFrameClient.View.GoodsIO.DepartmentStockData.ProductMasterSearchDepartmentForm, AppFrameClient" singleton="false">
    <property name="ProductMasterSearchDepartmentController" ref="ProductMasterSearchDepartmentController" />
  </object>

  <object id="ProductMasterSearchView" type="AppFrameClient.View.GoodsIO.ProductMasterSearchForm, AppFrameClient" singleton="false">
    <property name="ProductMasterSearchOrCreateController" ref="ProductMasterSearchOrCreateController" />
  </object>

  <object id="GoodsIOSearchView" type="AppFrameClient.View.GoodsIO.GoodsIOSearchForm, AppFrameClient" singleton="false">
    <property name="GoodsIOSearchController" ref="GoodsIOSearchController" />
  </object>
  <object id="StockCreateView" type="AppFrameClient.View.GoodsIO.StockCreateForm, AppFrameClient" singleton="false">
    <property name="StockCreateController" ref="StockCreateController" />
  </object>
  <object id="StockSearchView" type="AppFrameClient.View.GoodsIO.StockSearchForm, AppFrameClient" singleton="false">
    <property name="StockSearchController" ref="StockSearchController" />
  </object>
  <object id="DepartmentStockInView" type="AppFrameClient.View.GoodsIO.DepartmentStockData.DepartmentStockInForm, AppFrameClient" singleton="false">
    <property name="DepartmentStockInController" ref="DepartmentStockInExtraController" />
    <property name="ProductMasterSearchOrCreateController" ref="ProductMasterSearchOrCreateController" />
  </object>

  <object id="DepartmentStockInExtraView" type="AppFrameClient.View.GoodsIO.DepartmentStockData.DepartmentStockInFromMainForm, AppFrameClient" singleton="false">
    <property name="DepartmentStockInController" ref="DepartmentStockInExtraController" />
    <property name="ProductMasterSearchOrCreateController" ref="ProductMasterSearchOrCreateController" />
  </object>
  <object id="DepartmentStockSyncFromMainView" type="AppFrameClient.View.GoodsIO.DepartmentStockData.DepartmentStockSyncFromMainForm, AppFrameClient" singleton="false">
    <property name="DepartmentStockInController" ref="DepartmentStockInExtraController" />
    <property name="ProductMasterSearchOrCreateController" ref="ProductMasterSearchOrCreateController" />
  </object>

  <object id="DepartmentStockSearchView" type="AppFrameClient.View.GoodsIO.DepartmentStockData.DepartmentStockSearchForm, AppFrameClient" singleton="false">
    <property name="DepartmentStockSearchController" ref="DepartmentStockSearchController" />
  </object>
  <object id="UniversalMasterSaveView" type="AppFrameClient.View.Masters.UniversalMasterCreateForm, AppFrameClient" singleton="false">
    <property name="UniversalMasterSaveController" ref="UniversalMasterSaveController" />
  </object>
  <object id="DepartmentStockInDetailSearchView" type="AppFrameClient.View.GoodsIO.DepartmentStockData.DepartmentStockInDetailSearchForm, AppFrameClient" singleton="false">
    <property name="DepartmentStockDetailController" ref="DepartmentStockDetailController" />
  </object>
  <object id="DepartmentPriceUpdateView" type="AppFrameClient.View.GoodsIO.DepartmentStockData.DepartmentPriceUpdateForm, AppFrameClient" singleton="false">
    <property name="DepartmentPriceUpdateController" ref="DepartmentPriceUpdateController" />
  </object>
  <object id="DepartmentStockInSearchView" type="AppFrameClient.View.GoodsIO.DepartmentStockData.DepartmentStockInSearchForm, AppFrameClient" singleton="false">
    <property name="DepartmentStockInSearchController" ref="DepartmentStockInSearchController" />
  </object>

  <object id="MainStockInView" type="AppFrameClient.View.GoodsIO.MainStock.MainStockInForm, AppFrameClient" singleton="false">
    <property name="MainStockInController" ref="MainStockInController" />
  </object>
  <object id="MainStockInExtraView" type="AppFrameClient.View.GoodsIO.MainStock.MainStockInExtraForm, AppFrameClient" singleton="false">
    <property name="MainStockInController" ref="MainStockInController" />
  </object>
  <object id="MainStockInSearchView" type="AppFrameClient.View.GoodsIO.MainStock.MainStockInSearchForm, AppFrameClient" singleton="false">
    <property name="MainStockInSearchController" ref="MainStockInSearchController" />
  </object>
  <object id="ReportStockInParamView" type="AppFrameClient.View.Reports.frmStockinRpt, AppFrameClient" singleton="false">
    <property name ="ReportStockInController"  ref="ReportStockInController" />
  </object>
  
  <object id="ReportStockInView" type="AppFrameClient.View.Reports.frmStockinStatistic, AppFrameClient" singleton="false">
    <property name ="ReportStockInController"  ref="ReportStockInController" />
  </object>
  
  <object id="DepartmentStockInReportView" type="AppFrameClient.View.Reports.DepartmentStockInReportForm, AppFrameClient" singleton="false">
    <property name ="ReportStockInController"  ref="ReportStockInController" />
  </object>

  <object id="MainStockOutReportView" type="AppFrameClient.View.Reports.MainStockOutReportForm, AppFrameClient" singleton="false">
    <property name ="ReportStockOutController"  ref="ReportStockOutController" />
  </object>
  <object id="DepartmentStockOutConfirmView" type="AppFrameClient.View.GoodsIO.DepartmentStockOutConfirmForm, AppFrameClient" singleton="false">
    <property name ="ReportStockOutController"  ref="ReportStockOutController" />
  </object>
  
  <object id="InventoryCheckingView" type="AppFrameClient.View.GoodsIO.MainStock.InventoryCheckingForm, AppFrameClient" singleton="false">
    <property name ="InventoryCheckingController"  ref="InventoryCheckingController" />
  </object>

  <object id="ProcessErrorGoodsView" type="AppFrameClient.View.GoodsIO.MainStock.ProcessErrorGoodsForm, AppFrameClient" singleton="false">
    <property name ="ProcessErrorGoodsController"  ref="ProcessErrorGoodsController" />
  </object>
  
  <object id="DepartmentStockCheckingView" type="AppFrameClient.View.GoodsIO.DepartmentStockData.DepartmentStockCheckingForm, AppFrameClient" singleton="false">
    <property name ="DepartmentStockCheckingController"  ref="DepartmentStockCheckingController" />
  </object>

  <object id="BaseStockOutView" type="AppFrameClient.View.GoodsIO.MainStock.BaseStockOutForm, AppFrameClient" singleton="false">
    <property name ="BaseStockOutController"  ref="BaseStockOutController" />
  </object>

  <object id="MainStockInSearchReportView" type="AppFrameClient.View.GoodsIO.MainStock.MainStockInSearchReportForm, AppFrameClient" singleton="false">
    <property name="MainStockInSearchController" ref="MainStockInSearchController" />
  </object>

  <object id="MainStockOutExtraView" type="AppFrameClient.View.GoodsIO.MainStock.MainStockOutExtraForm, AppFrameClient" singleton="false">
    <property name="MainStockOutController" ref="MainStockOutController" />
  </object>
  <object id="MainReStockInExtraView" type="AppFrameClient.View.GoodsIO.MainStock.MainReStockInExtraForm, AppFrameClient" singleton="false">
    <property name="MainStockInController" ref="MainStockInController" />
  </object>
  <object id="DepartmentStockOutExtraView" type="AppFrameClient.View.GoodsIO.DepartmentStockData.DepartmentStockOutExtraForm, AppFrameClient" singleton="false">
    <property name="DepartmentStockOutController" ref="DepartmentStockOutController" />
  </object>
  <!-- END Form definitions -->
</objects>
