<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CoralPOS.Properties.Settings.pos2ConnectionString"
            connectionString="Data Source=|DataDirectory|\pos2.sdf;Password=admin"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
        <add name="CoralPOS.Properties.Settings.pos2ServerString" connectionString="Data Source=XE;Persist Security Info=True;User ID=pos2;Password=admin;Unicode=True"
            providerName="System.Data.OracleClient" />
    </connectionStrings>
</configuration>