<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net" 
        
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
  xmlns:appframe="http://www.appframe.com/schema/appframe"        
	xsi:schemaLocation="http://www.springframework.net http://www.springframework.net/xsd/spring-objects.xsd">

  <!-- START : SECURITY CONFIG -->
  

  <!-- Logic Objects -->
  <object id="LoginEventArgs" type="AppFrame.Presenter.LoginEventArgs, AppFrame"/>
  <object id="CustomerEventArgs" type="AppFrame.Presenter.CustomerEventArgs, AppFrame"/>
  
  <!-- Controller Objects -->
  <object id="LoginController" type="AppFrame.Presenter.LoginController, AppFrameClient">
    <property name="LoginLogic" ref="LocalLoginLogic"/>
    <property name="ResultEventArgs" ref="LoginEventArgs"/>
  </object>
  <object id="authService" type="AppFrame.Presenter.AuthService, AppFrameClient" />
  <!-- View Objects -->
  <object id="loginView" type="AppFrameClient.View.AuthForm, AppFrameClient" singleton="false">
    <property name="LoginController" ref="LoginController" />
  </object>
  
  <object id="mainView" type="ClientManagementTool.View.MainForm, ClientManagementTool"  >
    <property name="AuthService" ref="authService" />
  </object>
  <!-- END : SECURITY CONFIG -->
  <!--<object id="newCustomerView" type="AppFrameClient.View.NewCustomerForm, AppFrameClient" singleton="false">
    <property name="CustomerController" ref="CustomerController" />
  </object>
  <object id="editCustomerView" type="AppFrameClient.View.EditCustomerForm, AppFrameClient" singleton="false">
    <property name="CustomerController" ref="CustomerController" />
  </object>-->
    <object id="importGoodsView" type="AppFrameClient.View.GoodsIO.GoodsInput, AppFrameClient" singleton="false">
    <property name="SupplierLogic" ref="AppFrame.Service.ISupplierLogic" />
    <property name="BlockInDetailLogic" ref="AppFrame.Service.IBlockInDetailLogic" />
    <property name="ColorLogic" ref="AppFrame.Service.IProductColorLogic" />
    <property name="SizeLogic" ref="AppFrame.Service.IProductSizeLogic" />
    <property name="TypeLogic" ref="AppFrame.Service.IProductTypeLogic" />
  </object>
  <!-- START: MENU CROSS CUTTING CONCERN -->
  
  <!--<object id="insertUserToLogicAdvice"
        type="AppFrame.Advice.InsertUserInfoToLogicAdvice, AppFrame" />  
  <object name="proxyRemoteCustomerLogic" type="Spring.Aop.Framework.ProxyFactoryObject, Spring.Aop">
    <property name="proxyInterfaces" value="AppFrame.Logic.ITestCustomerLogic"/>
    <property name="target" ref="remoteCustomerLogic"/>
    <property name="interceptorNames">
      <list>
        <value>insertUserToLogicAdvice</value>        
      </list>
    </property>
  </object>-->

  <!-- END: MENU CROSS CUTTING CONCERN -->
  <!-- START: RESOURCE FILE -->
  <object id="messageResources" type="Spring.Context.Support.ResourceSetMessageSource, Spring.Core">
    <property name="ResourceManagers">
      <list>
        <value>AppFrameClient.Resources.MessagesResource, AppFrameClient</value>
      </list>
    </property>
  </object>
  <object id="errorResources" type="Spring.Context.Support.ResourceSetMessageSource, Spring.Core">
    <property name="ResourceManagers">
      <list>
        <value>AppFrameClient.Resources.ErrorsResource, AppFrameClient</value>
      </list>
    </property>
  </object>
  <!-- END: RESOURCE FILE -->
  <!-- START : Authentication Module -->
  <object id ="User" type ="AppFrame.Common.AppFrameUser,AppFrameClient" >
    <property name="LoginLogic" ref="LocalLoginLogic" />
  </object>
  <object id ="AuthUserManager" type ="AppFrame.Common.AppUserManager,AppFrame" >
    <property name="User" ref="User" />
  </object>
  <object id="AuthenticationModule" type="AppFrame.Common.AuthManager, AppFrame" >
    <property name="UserManager" ref="AuthUserManager" />
  </object> 
  
  <!--<appframe:security>
    <appframe:authentication id ="AuthenticationModule" type="AppFrame.Common.AuthManager, AppFrame" usermanager="AuthUserManager" />
    <appframe:usermanager id="AuthUserManager" type="AppFrame.Common.AppUserManager,AppFrame" user="AuthUser" />    
  </appframe:security>
  <object id="AuthUser" type="AppFrame.Common.AppFrameUser,AppFrameClient" >
    <property name="LoginLogic" ref="remoteLoginLogic" /> 
  </object>-->
      <!-- END : Authentication Module -->

  <object name="loggingAdvice" type="Spring.Aspects.Logging.SimpleLoggingAdvice, Spring.Aop">
    <property name="logUniqueIdentifier" value="false"/>
    <property name="logExecutionTime"    value="true"/>
    <property name="logMethodArguments"  value="true"/>
    <property name="LogReturnValue"      value="true"/>

    <property name="Separator"           value=";"/>
    <property name="LogLevel"            value="Info"/>
    <property name="HideProxyTypeNames"  value="true"/>
    <property name="LoggerName"    value="AppFrame"/>
  </object>  
</objects>
