<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net"
        
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:appframe="http://www.appframe.com/schema/appframe"
	xsi:schemaLocation="http://www.springframework.net http://www.springframework.net/xsd/spring-objects.xsd">

  <!-- START Logic definitions -->
  <object name="SalePointController" type="CoralPOSServer.Presenter.SalePoints.SalePointController, CoralPOSServer" singleton="true">
    <property name="EmployeeLogic" ref="CoralPOS.Service.IEmployeeLogic"     />
    <property name="EmployeeDetailLogic" ref="CoralPOS.Service.IEmployeeDetailLogic"     />
    <property name="DepartmentLogic" ref="CoralPOS.Service.IDepartmentLogic"     />
  </object>

  <!-- START Logic definitions -->
  <object name="SalePointListEventArgs" type ="CoralPOS.Interfaces.Presenter.SalePoints.SalePointListEventArgs, CoralPOS.Interfaces" />  
  <object name="SalePointListController" type="CoralPOSServer.Presenter.SalePoints.SalePointListController, CoralPOSServer">
    <property name="DepartmentLogic" ref="CoralPOS.Service.IDepartmentLogic"     />
    <property name="ResultEventArgs" ref ="SalePointListEventArgs" />
  </object>
  
  
  <object name="EmployeeController" type="CoralPOSServer.Presenter.SalePoints.EmployeeController, CoralPOSServer">
    <property name="EmployeeLogic" ref="CoralPOS.Service.IEmployeeLogic"     />
    <property name="EmployeeDetailLogic" ref="CoralPOS.Service.IEmployeeDetailLogic"     />
  </object>
  
  <object name="ProductMasterController" type="CoralPOSServer.Presenter.GoodsIO.ProductMasterController, CoralPOSServer">
    <property name="ProductTypeLogic" ref="CoralPOS.Service.IProductTypeLogic"     />
    <property name="ProductSizeLogic" ref="CoralPOS.Service.IProductSizeLogic"     />
    <property name="ProductColorLogic" ref="CoralPOS.Service.IProductColorLogic"     />
    <property name="CountryLogic" ref="CoralPOS.Service.ICountryLogic"     />
    <property name="ProductMasterLogic" ref="CoralPOS.Service.IProductMasterLogic"     />
    <property name="PackagerLogic" ref="CoralPOS.Service.IPackagerLogic"     />
    <property name="ManufacturerLogic" ref="CoralPOS.Service.IManufacturerLogic"     />
    <property name="DistributorLogic" ref="CoralPOS.Service.IDistributorLogic"     />
    <property name="DepartmentPriceLogic" ref="CoralPOS.Service.IDepartmentPriceLogic"     />
  </object>

    <object name="ProductMasterSearchOrCreateController" type="CoralPOSServer.Presenter.GoodsIO.ProductMasterSearchOrCreateController, CoralPOSServer">
        <property name="ProductTypeLogic" ref="CoralPOS.Service.IProductTypeLogic"     />
        <property name="ProductSizeLogic" ref="CoralPOS.Service.IProductSizeLogic"     />
        <property name="ProductColorLogic" ref="CoralPOS.Service.IProductColorLogic"     />
        <property name="CountryLogic" ref="CoralPOS.Service.ICountryLogic"     />
        <property name="ProductMasterLogic" ref="CoralPOS.Service.IProductMasterLogic"     />
      <property name="PackagerLogic" ref="CoralPOS.Service.IPackagerLogic"     />
      <property name="ManufacturerLogic" ref="CoralPOS.Service.IManufacturerLogic"     />
      <property name="DistributorLogic" ref="CoralPOS.Service.IDistributorLogic"     />
      
    </object>
  
    <object name="ProductMasterSearchDepartmentController" type="CoralPOSServer.Presenter.GoodsIO.ProductMasterSearchDepartmentController, CoralPOSServer">
        <property name="ProductTypeLogic" ref="CoralPOS.Service.IProductTypeLogic"     />
        <property name="ProductSizeLogic" ref="CoralPOS.Service.IProductSizeLogic"     />
        <property name="ProductColorLogic" ref="CoralPOS.Service.IProductColorLogic"     />
        <property name="CountryLogic" ref="CoralPOS.Service.ICountryLogic"     />
        <property name="ProductMasterLogic" ref="CoralPOS.Service.IProductMasterLogic"     />
      <property name="PackagerLogic" ref="CoralPOS.Service.IPackagerLogic"     />
      <property name="ManufacturerLogic" ref="CoralPOS.Service.IManufacturerLogic"     />
      <property name="DistributorLogic" ref="CoralPOS.Service.IDistributorLogic"     />
      <property name="ProductLogic" ref="CoralPOS.Service.IProductLogic"     />
      <property name="DepartmentStockInDetailLogic" ref="CoralPOS.Service.IDepartmentStockInDetailLogic"     />
      <property name="DepartmentStockLogic" ref="CoralPOS.Service.IDepartmentStockLogic"     />
    </object>
        
        
    <object name="GoodsIOSearchController" type="CoralPOSServer.Presenter.GoodsIO.GoodsIOSearchController, CoralPOSServer">
        <property name="BlockInDetailLogic" ref="CoralPOS.Service.IBlockInDetailLogic"     />
    </object>
    <object name="StockCreateController" type="CoralPOSServer.Presenter.GoodsIO.StockCreateController, CoralPOSServer">
      <property name="StockLogic" ref="CoralPOS.Service.IStockLogic"     />
      <property name="StockInDetailLogic" ref="CoralPOS.Service.IStockInDetailLogic"     />
      <property name="StockInLogic" ref="CoralPOS.Service.IStockInLogic"     />
      <property name="ReturnProductLogic" ref="CoralPOS.Service.IReturnProductLogic"     />
    </object>
  <object name="StockSearchController" type="CoralPOSServer.Presenter.GoodsIO.StockSearchController, CoralPOSServer">
    <property name="StockLogic" ref="CoralPOS.Service.IStockLogic"     />
    <property name="ProductTypeLogic" ref="CoralPOS.Service.IProductTypeLogic"     />
    <property name="ProductSizeLogic" ref="CoralPOS.Service.IProductSizeLogic"     />
    <property name="ProductColorLogic" ref="CoralPOS.Service.IProductColorLogic"     />
    <property name="CountryLogic" ref="CoralPOS.Service.ICountryLogic"     />
    <property name="PackagerLogic" ref="CoralPOS.Service.IPackagerLogic"     />
    <property name="ManufacturerLogic" ref="CoralPOS.Service.IManufacturerLogic"     />
    <property name="DistributorLogic" ref="CoralPOS.Service.IDistributorLogic"     />
    <property name="StockInDetailLogic" ref="CoralPOS.Service.IStockInDetailLogic"     />
    <property name="StockHistoryLogic" ref="CoralPOS.Service.IStockHistoryLogic"     />
    <property name="DepartmentStockInDetailLogic" ref="CoralPOS.Service.IDepartmentStockInDetailLogic"     />
  </object>

  <object name="DepartmentStockAdhocProcessingController" type="CoralPOSServer.Presenter.Inventory.DepartmentStockAdhocProcessingController, CoralPOSServer">
    <property name="ProductLogic" ref="CoralPOS.Service.IProductLogic"     />
    <property name="ProductMasterLogic" ref="CoralPOS.Service.IProductMasterLogic"     />
    <property name="DepartmentStockTempLogic" ref="CoralPOS.Service.IDepartmentStockTempLogic"     />
    <property name="StockOutLogic" ref="CoralPOS.Service.IStockOutLogic"     />
    <property name="StockInLogic" ref="CoralPOS.Service.IStockInLogic"     />
    <property name="StockOutDetailLogic" ref="CoralPOS.Service.IStockOutDetailLogic"     />
    <property name="StockInDetailLogic" ref="CoralPOS.Service.IStockInDetailLogic"     />
  </object>

  <object name="DepartmentStockFixingController" type="CoralPOSServer.Presenter.Inventory.DepartmentStockFixingController, CoralPOSServer">
    <property name="ProductLogic" ref="CoralPOS.Service.IProductLogic"     />
    <property name="ProductMasterLogic" ref="CoralPOS.Service.IProductMasterLogic"     />
    <property name="DepartmentStockLogic" ref="CoralPOS.Service.IDepartmentStockLogic"     />
    <property name="StockOutLogic" ref="CoralPOS.Service.IStockOutLogic"     />
    <property name="StockInLogic" ref="CoralPOS.Service.IStockInLogic"     />
    <property name="StockOutDetailLogic" ref="CoralPOS.Service.IStockOutDetailLogic"     />
    <property name="StockInDetailLogic" ref="CoralPOS.Service.IStockInDetailLogic"     />
  </object>
          
  <object name="DepartmentStockInController" type="CoralPOSServer.Presenter.GoodsIO.DepartmentStockData.DepartmentStockInController, CoralPOSServer">
    <property name="ProductMasterLogic" ref="CoralPOS.Service.IProductMasterLogic"     />
    <property name="DepartmentStockInLogic" ref="CoralPOS.Service.IDepartmentStockInLogic"     />
    <property name="DepartmentStockInDetailLogic" ref="CoralPOS.Service.IDepartmentStockInDetailLogic"     />
    <property name="StockLogic" ref="CoralPOS.Service.IStockLogic"     />
    <property name="DepartmentLogic" ref="CoralPOS.Service.IDepartmentLogic"     />
    <property name="DepartmentStockLogic" ref="CoralPOS.Service.IDepartmentStockLogic"     />
    <property name="DepartmentStockOutLogic" ref="CoralPOS.Service.IDepartmentStockOutLogic"     />
    <property name="StockOutLogic" ref="CoralPOS.Service.IStockOutLogic"     />
    <property name="DepartmentStockOutDetailLogic" ref="CoralPOS.Service.IDepartmentStockOutDetailLogic"     />
    <property name="DepartmentPriceLogic" ref="CoralPOS.Service.IDepartmentPriceLogic"     />
    <property name="DepartmentLogic" ref="CoralPOS.Service.IDepartmentLogic"     />
    <property name="EmployeeLogic" ref="CoralPOS.Service.IEmployeeLogic"     />
  </object>
  <!-- DepartmentStockInExtra-->
  <object name="DepartmentStockInExtraController" type="CoralPOSServer.Presenter.GoodsIO.DepartmentStockData.DepartmentStockInExtraController, CoralPOSServer">
    
    <property name="ProductMasterLogic" ref="CoralPOS.Service.IProductMasterLogic"     />
    <property name="DepartmentStockInLogic" ref="CoralPOS.Service.IDepartmentStockInLogic"     />
    <property name="DepartmentStockInDetailLogic" ref="CoralPOS.Service.IDepartmentStockInDetailLogic"     />    
    <property name="StockLogic" ref="CoralPOS.Service.IStockLogic"     />
    <property name="DepartmentLogic" ref="CoralPOS.Service.IDepartmentLogic"     />
    <property name="DepartmentStockLogic" ref="CoralPOS.Service.IDepartmentStockLogic"     />
    
    <property name="DepartmentStockOutLogic" ref="CoralPOS.Service.IDepartmentStockOutLogic"     />
    <property name="StockOutLogic" ref="CoralPOS.Service.IStockOutLogic"     />
    <property name="DepartmentStockOutDetailLogic" ref="CoralPOS.Service.IDepartmentStockOutDetailLogic"     />
    <property name="DepartmentPriceLogic" ref="CoralPOS.Service.IDepartmentPriceLogic"     />
    <property name="ProductSizeLogic" ref="CoralPOS.Service.IProductSizeLogic"     />
    <property name="ProductColorLogic" ref="CoralPOS.Service.IProductColorLogic"     />    
    <property name="EmployeeLogic" ref="CoralPOS.Service.IEmployeeLogic"     />
    <property name="EmployeeDetailLogic" ref="CoralPOS.Service.IEmployeeDetailLogic"     />
    <property name="DepartmentStockTempLogic" ref="CoralPOS.Service.IDepartmentStockTempLogic"     />
    
  </object>
  <!-- DepartmentStockInExtra-->  
  
  <object name="DepartmentStockSearchController" type="CoralPOSServer.Presenter.GoodsIO.DepartmentStockData.DepartmentStockSearchController, CoralPOSServer">
    
    <property name="DepartmentStockLogic" ref="CoralPOS.Service.IDepartmentStockLogic"     />
    <property name="ProductTypeLogic" ref="CoralPOS.Service.IProductTypeLogic"     />
    <property name="ProductSizeLogic" ref="CoralPOS.Service.IProductSizeLogic"     />
    <property name="ProductColorLogic" ref="CoralPOS.Service.IProductColorLogic"     />
    <property name="CountryLogic" ref="CoralPOS.Service.ICountryLogic"     />
    <property name="ManufacturerLogic" ref="CoralPOS.Service.IManufacturerLogic"     />
  </object>
  <object name="UniversalMasterSaveController" type="CoralPOSServer.Presenter.Masters.UniversalMasterSaveController, CoralPOSServer">
    <property name="ProductTypeLogic" ref="CoralPOS.Service.IProductTypeLogic"     />
    <property name="ProductSizeLogic" ref="CoralPOS.Service.IProductSizeLogic"     />
    <property name="ProductColorLogic" ref="CoralPOS.Service.IProductColorLogic"     />
    <property name="CountryLogic" ref="CoralPOS.Service.ICountryLogic"     />
    <property name="ManufacturerLogic" ref="CoralPOS.Service.IManufacturerLogic"     />
    <property name="DistributorLogic" ref="CoralPOS.Service.IDistributorLogic"     />
    <property name="PackagerLogic" ref="CoralPOS.Service.IPackagerLogic"     />
  </object>
  <object name="DepartmentStockDetailController" type="CoralPOSServer.Presenter.GoodsIO.DepartmentStockData.DepartmentStockDetailController, CoralPOSServer">
    <property name="DepartmentStockInDetailLogic" ref="CoralPOS.Service.IDepartmentStockInDetailLogic"     />
    <property name="DepartmentPriceLogic" ref="CoralPOS.Service.IDepartmentPriceLogic"     />
  </object>
  <object name="DepartmentStockInSearchController" type="CoralPOSServer.Presenter.GoodsIO.DepartmentStockData.DepartmentStockInSearchController, CoralPOSServer">
    <property name="DepartmentStockInLogic" ref="CoralPOS.Service.IDepartmentStockInLogic"     />
  </object>
  <object name="MainStockInSearchController" type="CoralPOSServer.Presenter.GoodsIO.MainStock.MainStockInSearchController, CoralPOSServer">
    <property name="StockInLogic" ref="CoralPOS.Service.IStockInLogic"     />
  </object>

  <object name="DepartmentPriceUpdateController" type="CoralPOSServer.Presenter.GoodsIO.DepartmentStockData.DepartmentPriceUpdateController, CoralPOSServer">
    <property name="DepartmentPriceLogic" ref="CoralPOS.Service.IDepartmentPriceLogic"     />
    <property name="ProductTypeLogic" ref="CoralPOS.Service.IProductTypeLogic"     />
    <property name="ProductSizeLogic" ref="CoralPOS.Service.IProductSizeLogic"     />
    <property name="ProductColorLogic" ref="CoralPOS.Service.IProductColorLogic"     />
    <property name="CountryLogic" ref="CoralPOS.Service.ICountryLogic"     />
    <property name="PackagerLogic" ref="CoralPOS.Service.IPackagerLogic"     />
    <property name="ManufacturerLogic" ref="CoralPOS.Service.IManufacturerLogic"     />
    <property name="DistributorLogic" ref="CoralPOS.Service.IDistributorLogic"     />
  </object>

  <object name="MainStockInController" type="CoralPOSServer.Presenter.GoodsIO.MainStock.MainStockInController, CoralPOSServer">
    <property name="ProductSizeLogic" ref="CoralPOS.Service.IProductSizeLogic"     />
    <property name="ProductColorLogic" ref="CoralPOS.Service.IProductColorLogic"     />
    <property name="ProductMasterLogic" ref="CoralPOS.Service.IProductMasterLogic"     />
    <property name="StockInLogic" ref="CoralPOS.Service.IStockInLogic"     />
    <property name="DepartmentPriceLogic" ref="CoralPOS.Service.IDepartmentPriceLogic"     />
    <property name="StockOutDetailLogic" ref="CoralPOS.Service.IStockOutDetailLogic"     />
  </object>
  
  <object name="InventoryCheckingController" type="CoralPOSServer.Presenter.GoodsIO.MainStock.InventoryCheckingController, CoralPOSServer">    
    <property name="ProductMasterLogic" ref="CoralPOS.Service.IProductMasterLogic"     />    
    <property name="ProductLogic" ref="CoralPOS.Service.IProductLogic" />
    <property name="StockLogic" ref="CoralPOS.Service.IStockLogic" />
    <property name="StockInLogic" ref="CoralPOS.Service.IStockInLogic" />
    <property name="StockInDetailLogic" ref="CoralPOS.Service.IStockInDetailLogic" />
    
  </object>
  
  <object name="ProcessErrorGoodsController" type="CoralPOSServer.Presenter.GoodsIO.MainStock.ProcessErrorGoodsController, CoralPOSServer">        
    <property name="StockLogic" ref="CoralPOS.Service.IStockLogic" />
    <property name="StockOutLogic" ref="CoralPOS.Service.IStockOutLogic" />    
    <property name="StockOutDetailLogic" ref="CoralPOS.Service.IStockOutDetailLogic" />
    <property name="DepartmentStockLogic" ref="CoralPOS.Service.IDepartmentStockLogic" />
    <property name="DepartmentStockOutLogic" ref="CoralPOS.Service.IDepartmentStockOutLogic" />
    <property name="DepartmentStockOutDetailLogic" ref="CoralPOS.Service.IDepartmentStockOutDetailLogic" />    
  </object>
    
  
    
  <object name="DepartmentStockCheckingController" type="CoralPOSServer.Presenter.GoodsIO.DepartmentStockData.DepartmentStockCheckingController, CoralPOSServer">
    <property name="ProductMasterLogic" ref="CoralPOS.Service.IProductMasterLogic"     />
    <property name="ProductLogic" ref="CoralPOS.Service.IProductLogic" />
    <property name="DepartmentStockLogic" ref="CoralPOS.Service.IDepartmentStockLogic" />
    <property name="DepartmentStockInLogic" ref="CoralPOS.Service.IDepartmentStockInLogic" />    
    <property name="DepartmentStockInDetailLogic" ref="CoralPOS.Service.IDepartmentStockInDetailLogic" />

  </object>

  <object name="DepartmentStockViewCheckingController" type="CoralPOSServer.Presenter.GoodsIO.DepartmentStockData.DepartmentStockViewCheckingController, CoralPOSServer">
    <property name="ProductMasterLogic" ref="CoralPOS.Service.IProductMasterLogic"     />
    <property name="ProductLogic" ref="CoralPOS.Service.IProductLogic" />
    <property name="DepartmentStockLogic" ref="CoralPOS.Service.IDepartmentStockLogic" />
    <property name="DepartmentStockTempLogic" ref="CoralPOS.Service.IDepartmentStockTempLogic" />
    <property name="DepartmentStockInLogic" ref="CoralPOS.Service.IDepartmentStockInLogic" />
    <property name="DepartmentStockInDetailLogic" ref="CoralPOS.Service.IDepartmentStockInDetailLogic" />

  </object>
  
  <object name="GoodsSaleController" type="CoralPOSServer.Presenter.GoodsSale.GoodsSaleController, CoralPOSServer">
    <property name="PurchaseOrderLogic" ref="CoralPOS.Service.IPurchaseOrderLogic" />
    <property name="PurchaseOrderDetailLogic" ref="CoralPOS.Service.IPurchaseOrderDetailLogic" />
    <property name="DepartmentPriceLogic" ref="CoralPOS.Service.IDepartmentPriceLogic"     />
    <property name="ProductMasterLogic" ref="CoralPOS.Service.IProductMasterLogic" />
    <property name="ProductLogic" ref="CoralPOS.Service.IProductLogic" />
    <property name="DepartmentStockLogic" ref="CoralPOS.Service.IDepartmentStockLogic"     />
  </object>


  <object name="GoodsSaleReturnController" type="CoralPOSServer.Presenter.GoodsSale.GoodsSaleReturnController, CoralPOSServer">
    <property name="PurchaseOrderLogic" ref="CoralPOS.Service.IPurchaseOrderLogic" />
    <property name="PurchaseOrderDetailLogic" ref="CoralPOS.Service.IPurchaseOrderDetailLogic" />
    <property name="DepartmentPriceLogic" ref="CoralPOS.Service.IDepartmentPriceLogic"     />
    <property name="DepartmentStockLogic" ref="CoralPOS.Service.IDepartmentStockLogic"     />
    <property name="ProductMasterLogic" ref="CoralPOS.Service.IProductMasterLogic" />
    <property name="ProductLogic" ref="CoralPOS.Service.IProductLogic" />
    <property name="ReturnPoLogic" ref="CoralPOS.Service.IReturnPoLogic" />
  </object>
  
  
  <object name="GoodsSaleListController" type="CoralPOSServer.Presenter.GoodsSale.GoodsSaleListController, CoralPOSServer">
    <property name="PurchaseOrderLogic" ref="CoralPOS.Service.IPurchaseOrderLogic" />
    <property name="PurchaseOrderDetailLogic" ref="CoralPOS.Service.IPurchaseOrderDetailLogic" />    
    <property name="ProductMasterLogic" ref="CoralPOS.Service.IProductMasterLogic" />
    <property name="DepartmentPriceLogic" ref="CoralPOS.Service.IDepartmentPriceLogic"     />
    <property name="ReturnPoLogic" ref="CoralPOS.Service.IReturnPoLogic" />
  
  </object>


  <object name="BaseStockOutController" type="CoralPOSServer.Presenter.GoodsIO.MainStock.BaseStockOutController, CoralPOSServer">
    <property name="StockLogic" ref="CoralPOS.Service.IStockLogic" />    
    <property name="StockOutLogic" ref="CoralPOS.Service.IStockOutLogic" />
    <property name="StockOutDetailLogic" ref="CoralPOS.Service.IStockOutDetailLogic" />
    <property name="ProductMasterLogic" ref="CoralPOS.Service.IProductMasterLogic" />
    <property name="ProductLogic" ref="CoralPOS.Service.IProductLogic" />    
    <property name="DepartmentStockOutLogic" ref="CoralPOS.Service.IDepartmentStockOutLogic" />    
    <property name="DepartmentStockOutDetailLogic" ref="CoralPOS.Service.IDepartmentStockOutDetailLogic" />
  </object>
  
  
  <object name="ReportStockInController" type="CoralPOSServer.Presenter.Report.ReportStockInController, CoralPOSServer">
    <property name="StockLogic" ref="CoralPOS.Service.IStockLogic" />
    <property name="StockInLogic" ref="CoralPOS.Service.IStockInLogic" />
    <property name="StockInDetailLogic" ref="CoralPOS.Service.IStockInDetailLogic" />
    <property name="DepartmentLogic" ref="CoralPOS.Service.IDepartmentLogic" />
    <property name="DepartmentStockInLogic" ref="CoralPOS.Service.IDepartmentStockInLogic"     />
    <property name="DepartmentStockInDetailLogic" ref="CoralPOS.Service.IDepartmentStockInDetailLogic"     />
  </object>

  <object name="ReportStockOutController" type="CoralPOSServer.Presenter.Report.ReportStockOutController, CoralPOSServer">
    <property name="DepartmentStockInLogic" ref="CoralPOS.Service.IDepartmentStockInLogic"     />
    <property name="DepartmentStockInDetailLogic" ref="CoralPOS.Service.IDepartmentStockInDetailLogic"     />
    <property name="DepartmentStockOutLogic" ref="CoralPOS.Service.IDepartmentStockOutLogic"     />
    <property name="DepartmentStockOutDetailLogic" ref="CoralPOS.Service.IDepartmentStockOutDetailLogic"     />
    <property name="StockOutLogic" ref="CoralPOS.Service.IStockOutLogic"     />
    <property name="StockOutDetailLogic" ref="CoralPOS.Service.IStockOutDetailLogic"     />
    <property name="StockLogic" ref="CoralPOS.Service.IStockLogic"     />    
    <property name="DepartmentLogic" ref="CoralPOS.Service.IDepartmentLogic" />
    <property name="StockInLogic" ref="CoralPOS.Service.IStockInLogic"     />
  </object>

  <object name="MainStockOutController" type="CoralPOSServer.Presenter.GoodsIO.MainStock.MainStockOutController, CoralPOSServer">
    <property name="StockOutLogic" ref="CoralPOS.Service.IStockOutLogic"     />
    <property name="StockLogic" ref="CoralPOS.Service.IStockLogic"     />    
    <property name="ProductColorLogic" ref="CoralPOS.Service.IProductColorLogic"     />
    <property name="ProductSizeLogic" ref="CoralPOS.Service.IProductSizeLogic"     />
    <property name="ProductMasterLogic" ref="CoralPOS.Service.IProductMasterLogic"     />
  </object>

  <object name="DepartmentStockOutController" type="CoralPOSServer.Presenter.GoodsIO.DepartmentStockData.DepartmentStockOutController, CoralPOSServer">
    <property name="DepartmentStockOutLogic" ref="CoralPOS.Service.IDepartmentStockOutLogic"     />
    <property name="DepartmentStockLogic" ref="CoralPOS.Service.IDepartmentStockLogic"     />        
    <property name="ProductColorLogic" ref="CoralPOS.Service.IProductColorLogic"     />
    <property name="ProductSizeLogic" ref="CoralPOS.Service.IProductSizeLogic"     />
    <property name="ProductMasterLogic" ref="CoralPOS.Service.IProductMasterLogic"     />
    <property name="DepartmentTimelineLogic" ref="CoralPOS.Service.IDepartmentTimelineLogic"     />    
  </object>

  <object name="PosLogController" type="CoralPOSServer.Presenter.PosLogController, CoralPOSServer">
    <property name="PosLogLogic" ref="CoralPOS.Service.IPosLogLogic"     />
  </object>
  
  <object name="SecurityController" type="CoralPOSServer.Presenter.SecurityController, CoralPOSServer">    
    <property name="DepartmentLogic" ref="CoralPOS.Service.IDepartmentLogic"     />
    <property name="EmployeeInfoLogic" ref="CoralPOS.Service.IEmployeeDetailLogic"     />
    <property name="LoginLogic" ref="LocalLoginLogic"     />    
  </object>
  
  <!-- END Logic definitions -->
  <!-- START Form definitions -->
  <object id="SalePointView" type="CoralPOSServer.View.SalePoints.SalePointForm, CoralPOSServer" singleton="false">
    <property name="SalePointController" ref="SalePointController" />
    
    <!-- START foreign controller -->
    <property name="EmployeeController" ref="EmployeeController" />
    <!-- END foreign controller -->
  </object>
  <object id="EmployeeView" type="CoralPOSServer.View.SalePoints.EmployeeForm, CoralPOSServer" singleton="false">    
    <property name="EmployeeController" ref="EmployeeController" />
    
    <!-- START foreign controller -->
    <property name="SalePointController" ref="SalePointController" />
    <!-- END foreign controller -->
  </object>

  <object id="SalePointListView" type="CoralPOSServer.View.SalePoints.SalePointListForm, CoralPOSServer" singleton="false">
    <property name="SalePointListController" ref="SalePointListController" />

    <!-- START foreign controller -->
    <property name="SalePointController" ref="SalePointController" />    
    <!-- END foreign controller -->
  </object>

  <object id="EmployeeListView" type="CoralPOSServer.View.SalePoints.EmployeeListForm, CoralPOSServer" singleton="false">
    <property name="EmployeeController" ref="EmployeeController" />
  </object>
  
  <object id="GoodsSaleView" type="CoralPOSServer.View.GoodsSale.GoodsSaleForm, CoralPOSServer" singleton="false">
    <property name="GoodsSaleController" ref="GoodsSaleController" />
  </object>

  <object id="GoodsSaleReturnView" type="CoralPOSServer.View.GoodsSale.GoodsSaleReturnForm, CoralPOSServer" singleton="false">
    <property name="GoodsSaleReturnController" ref="GoodsSaleReturnController" />
  </object>
  <object id="GoodsReturnChildView" type="CoralPOSServer.View.GoodsSale.GoodsReturnChildForm, CoralPOSServer" singleton="false">
    <property name="GoodsSaleReturnController" ref="GoodsSaleReturnController" />
  </object>
  
  <object id="GoodsSaleListView" type="CoralPOSServer.View.GoodsSale.GoodsSaleListForm, CoralPOSServer" singleton="false">
    <property name="GoodsSaleListController" ref="GoodsSaleListController" />
  </object>

  <object id="SearchGoodsSaleListView" type="CoralPOSServer.View.GoodsSale.SearchGoodsSaleListForm, CoralPOSServer" singleton="false">
    <property name="GoodsSaleListController" ref="GoodsSaleListController" />
  </object>
  
  <object id="DayGoodsSaleListView" type="CoralPOSServer.View.GoodsSale.DayGoodsSaleListForm, CoralPOSServer" singleton="false">
    <property name="GoodsSaleListController" ref="GoodsSaleListController" />
  </object>
  <object id="MonthGoodsSaleListView" type="CoralPOSServer.View.GoodsSale.MonthGoodsSaleListForm, CoralPOSServer" singleton="false">
    <property name="GoodsSaleListController" ref="GoodsSaleListController" />
  </object>

  <object id="ProductMasterView" type="CoralPOSServer.View.GoodsIO.ProductMasterForm, CoralPOSServer" singleton="false">    
    <property name="ProductMasterController" ref="ProductMasterController" />
  </object>

  <object id="ProductMasterCreateView" type="CoralPOSServer.View.GoodsIO.ProductMasterCreateForm, CoralPOSServer" singleton="false">
    <property name="ProductMasterController" ref="ProductMasterController" />
  </object>

  <object id="ProductMasterSearchOrCreateView" type="CoralPOSServer.View.GoodsIO.ProductMasterSearchOrCreateForm, CoralPOSServer" singleton="false">
    <property name="ProductMasterSearchOrCreateController" ref="ProductMasterSearchOrCreateController" />
  </object>
  <object id="ProductMasterSearchDepartmentView" type="CoralPOSServer.View.GoodsIO.DepartmentStockData.ProductMasterSearchDepartmentForm, CoralPOSServer" singleton="false">
    <property name="ProductMasterSearchDepartmentController" ref="ProductMasterSearchDepartmentController" />
  </object>

  <object id="ProductMasterSearchView" type="CoralPOSServer.View.GoodsIO.ProductMasterSearchForm, CoralPOSServer" singleton="false">
    <property name="ProductMasterSearchOrCreateController" ref="ProductMasterSearchOrCreateController" />
  </object>

  <object id="GoodsIOSearchView" type="CoralPOSServer.View.GoodsIO.GoodsIOSearchForm, CoralPOSServer" singleton="false">
    <property name="GoodsIOSearchController" ref="GoodsIOSearchController" />
  </object>
  <object id="StockCreateView" type="CoralPOSServer.View.GoodsIO.StockCreateForm, CoralPOSServer" singleton="false">
    <property name="StockCreateController" ref="StockCreateController" />
  </object>
  <object id="StockSearchView" type="CoralPOSServer.View.GoodsIO.StockSearchForm, CoralPOSServer" singleton="false">
    <property name="StockSearchController" ref="StockSearchController" />
  </object>
  <object id="DepartmentStockInView" type="CoralPOSServer.View.GoodsIO.DepartmentStockData.DepartmentStockInForm, CoralPOSServer" singleton="false">
    <property name="DepartmentStockInController" ref="DepartmentStockInExtraController" />
    <property name="ProductMasterSearchOrCreateController" ref="ProductMasterSearchOrCreateController" />
  </object>

  <object id="DepartmentStockInExtraView" type="CoralPOSServer.View.GoodsIO.DepartmentStockData.DepartmentStockInFromMainForm, CoralPOSServer" singleton="false">
    <property name="DepartmentStockInController" ref="DepartmentStockInExtraController" />
    <property name="ProductMasterSearchOrCreateController" ref="ProductMasterSearchOrCreateController" />
  </object>
  <object id="DepartmentStockSyncFromMainView" type="CoralPOSServer.View.GoodsIO.DepartmentStockData.DepartmentStockSyncFromMainForm, CoralPOSServer" singleton="false">
    <property name="DepartmentStockInController" ref="DepartmentStockInExtraController" />
    <property name="ProductMasterSearchOrCreateController" ref="ProductMasterSearchOrCreateController" />
  </object>

  <object id="DepartmentStockSearchView" type="CoralPOSServer.View.GoodsIO.DepartmentStockData.DepartmentStockSearchForm, CoralPOSServer" singleton="false">
    <property name="DepartmentStockSearchController" ref="DepartmentStockSearchController" />
  </object>
  <object id="UniversalMasterSaveView" type="CoralPOSServer.View.Masters.UniversalMasterCreateForm, CoralPOSServer" singleton="false">
    <property name="UniversalMasterSaveController" ref="UniversalMasterSaveController" />
  </object>
  <object id="DepartmentStockInDetailSearchView" type="CoralPOSServer.View.GoodsIO.DepartmentStockData.DepartmentStockInDetailSearchForm, CoralPOSServer" singleton="false">
    <property name="DepartmentStockDetailController" ref="DepartmentStockDetailController" />
  </object>
  <object id="DepartmentPriceUpdateView" type="CoralPOSServer.View.GoodsIO.DepartmentStockData.DepartmentPriceUpdateForm, CoralPOSServer" singleton="false">
    <property name="DepartmentPriceUpdateController" ref="DepartmentPriceUpdateController" />
  </object>
  <object id="DepartmentStockInSearchView" type="CoralPOSServer.View.GoodsIO.DepartmentStockData.DepartmentStockInSearchForm, CoralPOSServer" singleton="false">
    <property name="DepartmentStockInSearchController" ref="DepartmentStockInSearchController" />
  </object>

  <object id="MainStockInView" type="CoralPOSServer.View.GoodsIO.MainStock.MainStockInForm, CoralPOSServer" singleton="false">
    <property name="MainStockInController" ref="MainStockInController" />
  </object>
  <object id="MainStockInExtraView" type="CoralPOSServer.View.GoodsIO.MainStock.MainStockInExtraForm, CoralPOSServer" singleton="false">
    <property name="MainStockInController" ref="MainStockInController" />
  </object>
  <object id="MainStockInSearchView" type="CoralPOSServer.View.GoodsIO.MainStock.MainStockInSearchForm, CoralPOSServer" singleton="false">
    <property name="MainStockInSearchController" ref="MainStockInSearchController" />
  </object>
  <object id="ReportStockInParamView" type="CoralPOSServer.View.Reports.frmStockinRpt, CoralPOSServer" singleton="false">
    <property name ="ReportStockInController"  ref="ReportStockInController" />
  </object>
  
  <object id="ReportStockInView" type="CoralPOSServer.View.Reports.frmStockinStatistic, CoralPOSServer" singleton="false">
    <property name ="ReportStockInController"  ref="ReportStockInController" />
  </object>
  
  <object id="DepartmentStockInReportView" type="CoralPOSServer.View.Reports.DepartmentStockInReportForm, CoralPOSServer" singleton="false">
    <property name ="ReportStockInController"  ref="ReportStockInController" />
  </object>

  <object id="MainStockOutReportView" type="CoralPOSServer.View.Reports.MainStockOutReportForm, CoralPOSServer" singleton="false">
    <property name ="ReportStockOutController"  ref="ReportStockOutController" />
  </object>
  <object id="DepartmentStockOutConfirmView" type="CoralPOSServer.View.GoodsIO.DepartmentStockOutConfirmForm, CoralPOSServer" singleton="false">
    <property name ="ReportStockOutController"  ref="ReportStockOutController" />
  </object>
  
  <object id="InventoryCheckingView" type="CoralPOSServer.View.GoodsIO.MainStock.InventoryCheckingForm, CoralPOSServer" singleton="false">
    <property name ="InventoryCheckingController"  ref="InventoryCheckingController" />
  </object>

  <object id="ProcessErrorGoodsView" type="CoralPOSServer.View.GoodsIO.MainStock.ProcessErrorGoodsForm, CoralPOSServer" singleton="false">
    <property name ="ProcessErrorGoodsController"  ref="ProcessErrorGoodsController" />
  </object>
  
  <object id="DepartmentStockCheckingView" type="CoralPOSServer.View.GoodsIO.DepartmentStockData.DepartmentStockCheckingForm, CoralPOSServer" singleton="false">
    <property name ="DepartmentStockCheckingController"  ref="DepartmentStockCheckingController" />
  </object>

  <object id="DepartmentStockViewCheckingView" type="CoralPOSServer.View.GoodsIO.DepartmentStockData.DepartmentStockViewCheckingForm, CoralPOSServer" singleton="false">
    <property name ="DepartmentStockCheckingController"  ref="DepartmentStockViewCheckingController" />
  </object>

  <object id="BaseStockOutView" type="CoralPOSServer.View.GoodsIO.MainStock.BaseStockOutForm, CoralPOSServer" singleton="false">
    <property name ="BaseStockOutController"  ref="BaseStockOutController" />
  </object>

  <object id="MainStockInSearchReportView" type="CoralPOSServer.View.GoodsIO.MainStock.MainStockInSearchReportForm, CoralPOSServer" singleton="false">
    <property name="MainStockInSearchController" ref="MainStockInSearchController" />
  </object>

  <object id="MainStockOutExtraView" type="CoralPOSServer.View.GoodsIO.MainStock.MainStockOutExtraForm, CoralPOSServer" singleton="false">
    <property name="MainStockOutController" ref="MainStockOutController" />
  </object>
  <object id="MainReStockInExtraView" type="CoralPOSServer.View.GoodsIO.MainStock.MainReStockInExtraForm, CoralPOSServer" singleton="false">
    <property name="MainStockInController" ref="MainStockInController" />
  </object>
  <object id="DepartmentStockOutExtraView" type="CoralPOSServer.View.GoodsIO.DepartmentStockData.DepartmentStockOutExtraForm, CoralPOSServer" singleton="false">
    <property name="DepartmentStockOutController" ref="DepartmentStockOutController" />
  </object>

  <object id="DepartmentReStockInView" type="CoralPOSServer.View.GoodsIO.DepartmentStockData.DepartmentReStockInForm, CoralPOSServer" singleton="false">
    <property name="DepartmentStockInController" ref="DepartmentStockInController" />
  </object>

  <object id="RemainStockReport" type="CoralPOSServer.View.Reports.RemainStockReport, CoralPOSServer" singleton="false">
    <property name="StockSearchController" ref="StockSearchController" />
  </object>
  <object id="MainStockSearchByBarcodeView" type="CoralPOSServer.View.GoodsIO.MainStock.MainStockSearchByBarcodeForm, CoralPOSServer" singleton="false">
    <property name="StockSearchController" ref="StockSearchController" />
  </object>
  <object id="SyncToMainView" type="CoralPOSServer.View.GoodsIO.DepartmentStockData.SyncToMainForm, CoralPOSServer" singleton="false">
    <property name="DepartmentStockOutController" ref="DepartmentStockOutController" />
  </object>

  <object id="SecuritySettingsView" type="CoralPOSServer.View.SecuritySettingsForm, CoralPOSServer" singleton="false">
    <property name="SecurityController" ref="SecurityController" />
  </object>

  <object id="LoadDataFromDepartmentToMainView" type="CoralPOSServer.View.GoodsIO.DepartmentStockData.LoadDataFromDepartmentToMain, CoralPOSServer" singleton="false">
    <property name="DepartmentStockOutController" ref="DepartmentStockOutController" />
  </object>
  <object id="LoadDepartmentStockInToFileFormView" type="CoralPOSServer.View.GoodsIO.DepartmentStockData.LoadDepartmentStockInToFileForm, CoralPOSServer" singleton="false">
    <property name="DepartmentStockInController" ref="DepartmentStockInExtraController" />
    <property name="ProductMasterSearchOrCreateController" ref="ProductMasterSearchOrCreateController" />
  </object>
  <object id="DepartmentStockAdhocCheckingView" type="CoralPOSServer.View.Inventory.DepartmentStockAdhocCheckingForm, CoralPOSServer" singleton="false">
    <property name="DepartmentStockAdhocProcessingController" ref="DepartmentStockAdhocProcessingController" />    
  </object>
  <object id="DepartmentStockFixingView" type="CoralPOSServer.View.Inventory.DepartmentStockFixingForm, CoralPOSServer" singleton="false">
    <property name="DepartmentStockFixingController" ref="DepartmentStockFixingController" />
  </object>
  <object id="PosLogView" type="CoralPOSServer.View.PosLogForm, CoralPOSServer" singleton="false">
    <property name="PosLogController" ref="PosLogController" />
  </object>
  <!-- END Form definitions -->
</objects>
