<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net"
        
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:appframe="http://www.appframe.com/schema/appframe"
	xsi:schemaLocation="http://www.springframework.net http://www.springframework.net/xsd/spring-objects.xsd">

  <!-- START Logic definitions -->
  <object name="EmployeeWorkingsLogic" type="ClientManagementTool.Logic.EmployeeWorkingsLogicImpl, ClientManagementTool" singleton="true">
    <property name="EmployeeWorkingDayLogic" ref="CoralPOS.Service.IEmployeeWorkingDayLogic"     />
    <property name="EmployeeInfoLogic" ref="CoralPOS.Service.IEmployeeDetailLogic"     />
    <property name="EmployeeLogic" ref="CoralPOS.Service.IEmployeeLogic"     />

  </object>

  <object name="ClosedPeriodLogic" type="ClientManagementTool.Logic.ClosedPeriodLogic, ClientManagementTool" singleton="true">
    <property name="PurchaseOrderLogic" ref="CoralPOS.Service.IPurchaseOrderLogic"     />
    <property name="PurchaseOrderDetailLogic" ref="CoralPOS.Service.IPurchaseOrderDetailLogic"     />
    <property name="ProductMasterLogic" ref="CoralPOS.Service.IProductMasterLogic"     />
    <property name="ReturnPoLogic" ref="CoralPOS.Service.IReturnPoLogic"     />
    <property name="DepartmentPriceLogic" ref="CoralPOS.Service.IDepartmentPriceLogic"     />
    <property name="EmployeeMoneyLogic" ref="CoralPOS.Service.IEmployeeMoneyLogic"     />
  </object>
  
  <object name="ProcessPeriodMoneyLogic" type="ClientManagementTool.Logic.ProcessPeriodMoneyLogic, ClientManagementTool" singleton="true">
    <property name="EmployeeMoneyLogic" ref="CoralPOS.Service.IEmployeeMoneyLogic"     />
  </object>
  
  <object name="MainLogic" type="ClientManagementTool.Logic.MainLogicImpl, ClientManagementTool" singleton="true">
    <property name="EmployeeWorkingDayLogic" ref="CoralPOS.Service.IEmployeeWorkingDayLogic"     />
    <property name="EmployeeInfoLogic" ref="CoralPOS.Service.IEmployeeDetailLogic"     />
    <property name="EmployeeLogic" ref="CoralPOS.Service.IEmployeeLogic"     />
    <property name="LoginLogic" ref="LocalLoginLogic"     />
    <property name="DepartmentTimelineLogic" ref="CoralPOS.Service.IDepartmentTimelineLogic"     />
    <property name="DepartmentManagementLogic" ref="CoralPOS.Service.IDepartmentManagementLogic"     />
    <property name="EmployeeMoneyLogic" ref="CoralPOS.Service.IEmployeeMoneyLogic"     />        
  </object>
  
  <object name="SecurityController" type="CoralPOSClient.Presenter.SecurityController, CoralPOSClient">    
    <property name="DepartmentLogic" ref="CoralPOS.Service.IDepartmentLogic"     />
    <property name="LoginLogic" ref="LocalLoginLogic"     />    
  </object>
  
  <!-- END Logic definitions -->
  <!-- START Form definitions -->
  <object id="EmployeeWorkingView" type="ClientManagementTool.View.Management.EmployeeWorkingsForm, ClientManagementTool" singleton="false">
    <property name="EmployeeWorkingsLogic" ref="EmployeeWorkingsLogic" />   
    
  </object>
  <object id="EmployeeMoneyView" type="ClientManagementTool.View.Management.EmployeeMoneyForm, ClientManagementTool" singleton="false">
    <property name="ProcessPeriodMoneyLogic" ref="ProcessPeriodMoneyLogic" />
  </object>
  
  <object id="ClosedPeriodView" type="ClientManagementTool.View.Management.ClosedPeriodForm, ClientManagementTool" singleton="false">
    <property name="ClosedPeriodLogic" ref="ClosedPeriodLogic" />
  </object>
  <!-- END Form definitions -->
</objects>
