<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="POSReports.Properties.Settings.posConnectionString"
            connectionString="password=1qw45DCM9rl;user id=dbadmin;server=localhost;persist security info=True;database=pos"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>