<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!-- Enteprise Library Config -->
    <!-- Spring section config -->
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core"/>
      <section name="parsers" type="Spring.Context.Support.NamespaceParsersSectionHandler, Spring.Core"/>
    </sectionGroup>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging"/>
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <!-- Spring Configuration  -->
  <!--<connectionStrings>
    <add name="POSClient.Properties.Settings.pos2ConnectionString"
      connectionString="Data Source=|DataDirectory|\pos2.sdf;Password=admin"
      providerName="Microsoft.SqlServerCe.Client.3.5" />
  </connectionStrings>-->
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net">
        <arg key="configType" value="FILE-WATCH"/>
        <arg key="configFile" value="~/log4net.config"/>
      </factoryAdapter>
    </logging>
  </common>
  <spring>
    <parsers>
      <!--
      <parser type="Spring.Remoting.Config.RemotingNamespaceParser, Spring.Services" /> -->
      <!--<parser namespace="http://www.appframe.com/schema/appframe" type="AppFrame.Common.SpringSupport.AppFrameSecurityParser, AppFrame"  schemaLocation="assembly://AppFrame/AppFrame/AppFrameConfiguration.xsd" />-->
      <parser type="Spring.Data.Config.DatabaseNamespaceParser, Spring.Data"/>
      <parser type="Spring.Transaction.Config.TxNamespaceParser, Spring.Data"/>
    </parsers>
    <context>
      <resource uri="assembly://POSServer/POSServer/spring-config.xml"/>
    </context>
  </spring>
  <!--<runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Spring.Data.NHibernate21" publicKeyToken="aa95f207798dfdb4" culture="neutral"/>
        <bindingRedirect oldVersion="2.1.0.4000" newVersion="2.1.2.4000"/>
      </dependentAssembly>      
    </assemblyBinding>



  </runtime>-->
</configuration>