<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net"
         xmlns:tx="http://www.springframework.net/tx">

  <!-- Define annotation bean processor -->
  <object type="AppFrame.SpringSupport.AnnotationObjectPostProcessor, AppFrame" />
  <!-- Define flow session -->
  <object id="FlowSession" type="AppFrame.Base.FlowSession, AppFrame" singleton="false" />
  
  <object id="LoginFlow" type="AppFrame.Base.DefaultFlow, AppFrame" singleton="false">
    <property name="FlowSteps">
      <dictionary>
        <!-- Show login form -->
        <entry key="Step1" value="POSServer.ViewModels.Security.LoginViewModel"/>
        <!-- run register action -->
        <entry key="Step2" value="POSServer.Actions.Security.RegisterUserAction"/>
      </dictionary>
    </property>
    <property name="Session" ref="FlowSession" />
  </object>
  
  <object id="ProductMasterCreateFlow" type="AppFrame.Base.DefaultFlow, AppFrame" singleton="false">
    <property name="FlowSteps">
      <dictionary>        
        <entry key="Step1" value="POSServer.Actions.ProductMaster.PmPreLoadDefinitionAction"/>
        <!-- Show product master form -->
        <entry key="Step2" value="POSServer.ViewModels.ProductMaster.ProductMasterViewModel"/>
        <!-- Show product master summary form -->
        <entry key="Step3" value="POSServer.ViewModels.ProductMaster.ProductMasterSummaryViewModel"/>
        <!-- Save Product Master -->
        <entry key="Step4" value="POSServer.Actions.ProductMaster.PmSaveAction"/>
      </dictionary>
    </property>
    <property name="Session" ref="FlowSession" />
  </object>
  <object id="ProductMasterPriceUpdateFlow" type="AppFrame.Base.DefaultFlow, AppFrame" singleton="false">
    <property name="FlowSteps">
      <dictionary>
        <entry key="Step1" value="POSServer.Actions.ProductMaster.PmPricePreLoadDefinitionAction"/>
        <!-- Show product master form -->
        <entry key="Step2" value="POSServer.ViewModels.ProductMaster.ProductMasterPriceUpdateViewModel"/>        
      </dictionary>
    </property>
    <property name="Session" ref="FlowSession" />
  </object>  
  <object id="ProductColorViewFlow" type="AppFrame.Base.ChildFlow, AppFrame" singleton="false">
    <property name="FlowSteps">
      <dictionary>
        <!--<entry key="Step1" value="POSServer.Actions.ProductMaster.IExProductColorsViewPreLoadAction"/>-->
        <!-- Show product master form -->
        <entry key="Step1" value="POSServer.ViewModels.ProductMaster.ExProductColorViewModel"/>
        <!-- Show product master summary form -->
        <!--<entry key="Step3" value="POSServer.Actions.ProductMaster.IExProductColorsViewSaveAction"/>-->
      </dictionary>
    </property>
    <property name="Session" ref="FlowSession" />
  </object>
  <object id="ProductSizeViewFlow" type="AppFrame.Base.ChildFlow, AppFrame" singleton="false">
    <property name="FlowSteps">
      <dictionary>        
        <!-- Show product master form -->
        <entry key="Step1" value="POSServer.ViewModels.ProductMaster.ExProductSizeViewModel"/>        
      </dictionary>
    </property>
    <property name="Session" ref="FlowSession" />
  </object>
  <object id="ProductTypeViewFlow" type="AppFrame.Base.ChildFlow, AppFrame" singleton="false">
    <property name="FlowSteps">
      <dictionary>
        <!-- Show product master form -->
        <entry key="Step1" value="POSServer.ViewModels.ProductMaster.ProductTypeViewModel"/>
      </dictionary>
    </property>
    <property name="Session" ref="FlowSession" />
  </object>
  <object id="ProductCategoryViewFlow" type="AppFrame.Base.ChildFlow, AppFrame" singleton="false">
    <property name="FlowSteps">
      <dictionary>
        <!-- Show product master form -->
        <entry key="Step1" value="POSServer.ViewModels.ProductMaster.ProductCategoryViewModel"/>
      </dictionary>
    </property>
    <property name="Session" ref="FlowSession" />
  </object>
  
  <object id="DepartmentsViewFlow" type="AppFrame.Base.ChildFlow, AppFrame" singleton="false">
    <property name="FlowSteps">
      <dictionary>
        <!-- Show product master form -->
        <entry key="Step1" value="POSServer.ViewModels.Management.DepartmentsViewModel"/>
      </dictionary>
    </property>
    <property name="Session" ref="FlowSession" />
  </object>
  
  <object id="StockInCreateFlow" type="AppFrame.Base.DefaultFlow, AppFrame" singleton="false">
    <property name="FlowSteps">
      <dictionary>        
        <entry key="Step1" value="POSServer.Actions.Stock.StockIn.StockInPreLoadAction"/>        
        <!-- Show product master form -->
        <entry key="Step2" value="POSServer.ViewModels.Stock.StockIn.StockInViewModel"/>
        <!-- Show product master summary form -->
        <entry key="Step3" value="POSServer.ViewModels.Stock.StockIn.StockInConfirmViewModel"/>
        <!-- Save Product Master -->
        <entry key="Step4" value="POSServer.Actions.Stock.StockIn.StockInSaveAction"/>        
      </dictionary>
    </property>
    <property name="Session" ref="FlowSession" />
  </object>
  
  <object id="StockOutCreateFlow" type="AppFrame.Base.DefaultFlow, AppFrame" singleton="false">
    <property name="FlowSteps">
      <dictionary>
        <entry key="Step1" value="POSServer.Actions.Stock.StockOut.StockOutPreLoadAction"/>
        <!-- Show product master form -->
        <entry key="Step2" value="POSServer.ViewModels.Stock.StockOut.StockOutViewModel"/>
        <!-- Show product master summary form -->
        <entry key="Step3" value="[IStockOutConfirmViewModel]"/>
        <!-- Save Product Master -->
        <entry key="Step4" value="POSServer.Actions.Stock.StockOut.StockOutSaveAction"/>
      </dictionary>
    </property>
    <property name="Session" ref="FlowSession" />
  </object>

  <object id="StockOutSpecificCreateFlow" type="AppFrame.Base.DefaultFlow, AppFrame" singleton="false">
    <property name="FlowSteps">
      <dictionary>
        <entry key="Step1" value="POSServer.Actions.Stock.StockOut.StockOutSpecificPreLoadAction"/>
        <!-- Show product master form -->
        <entry key="Step2" value="POSServer.ViewModels.Stock.StockOut.StockOutSpecificViewModel"/>
        <!-- Show product master summary form -->
        <entry key="Step3" value="[IStockOutConfirmViewModel]"/>
        <!-- Save Product Master -->
        <entry key="Step4" value="POSServer.Actions.Stock.StockOut.StockOutSpecificSaveAction"/>
      </dictionary>
    </property>
    <property name="Session" ref="FlowSession" />
  </object>
  
  <!-- StockOutSearch List -->
  <object id="StockOutSearchFlow" type="AppFrame.Base.ChildFlow, AppFrame" singleton="false">
    <property name="FlowSteps">
      <dictionary>
        <!-- Show product master form -->
        <entry key="Step1" value="POSServer.ViewModels.Stock.StockOut.StockOutSearchViewModel"/>
        <entry key="Step2" value="[IStockOutDetailViewModel]"/>
      </dictionary>
    </property>
    <property name="Session" ref="FlowSession" />
  </object>
  
  <object id="StockInSearchFlow" type="AppFrame.Base.ChildFlow, AppFrame" singleton="false">
    <property name="FlowSteps">
      <dictionary>
        <!-- Show product master form -->
        <entry key="Step1" value="POSServer.ViewModels.Stock.StockIn.StockInSearchViewModel"/>
        <entry key="Step2" value="[IStockInDetailViewModel]"/>
      </dictionary>
    </property>
    <property name="Session" ref="FlowSession" />
  </object>
  
  <object id="StockInventoryViewFlow" type="AppFrame.Base.DefaultFlow, AppFrame" singleton="false">
    <property name="FlowSteps">
      <dictionary>
        <!-- Show product master form -->
        <entry key="Step1" value="POSServer.Actions.Stock.Inventory.InventoryStockViewPreloadAction"/>
        <entry key="Step2" value="POSServer.ViewModels.Stock.Inventory.StockInventoryViewModel"/>
        <entry key="Step3" value="POSServer.Actions.Stock.Inventory.InventoryStockViewSaveAction"/>
      </dictionary>
    </property>
    <property name="Session" ref="FlowSession" />
  </object>


  <object id="StockOutConfirmFlow" type="AppFrame.Base.ChildFlow, AppFrame" singleton="false">
    <property name="FlowSteps">
      <dictionary>
        <!-- Load confirming stockouts -->
        <entry key="Step1" value="POSServer.Actions.Stock.StockOut.StockOutConfirmPreLoadAction"/>
        <!-- Show stock out confirm form -->
        <entry key="Step2" value="POSServer.ViewModels.Stock.StockOut.StockOutWaitingConfirmViewModel"/>        
        <!-- Save confirmed stock out -->
        <entry key="Step3" value="POSServer.Actions.Stock.StockOut.StockOutConfirmSaveAction"/>
      </dictionary>
    </property>
    <property name="Session" ref="FlowSession" />
  </object>
  
  
  <object id="StockInventoryProcessingFlow" type="AppFrame.Base.ChildFlow, AppFrame" singleton="false">
    <property name="FlowSteps">
      <dictionary>
        <!-- Show stock inventory checking form -->
        <entry key="Step1" value="POSServer.ViewModels.Stock.Inventory.StockInventoryProcessingViewModel"/>
        <!-- Save and process inventory checking automatically -->
        <entry key="Step2" value="POSServer.Actions.Stock.Inventory.StockInventoryProcessingSaveAction"/>
      </dictionary>
    </property>
    <property name="Session" ref="FlowSession" />
  </object>
  
  
  <object id="SyncToDepartmentFlow" type="AppFrame.Base.DefaultFlow, AppFrame" singleton="false">
    <property name="FlowSteps">
      <dictionary>
        <!-- Show product master form -->
        <entry key="Step1" value="POSServer.ViewModels.Synchronize.SyncToDepartmentViewModel"/>        
      </dictionary>
    </property>
    <property name="Session" ref="FlowSession" />
  </object>

  <object id="CreateSyncUSBFlow" type="AppFrame.Base.DefaultFlow, AppFrame" singleton="false">
    <property name="FlowSteps">
      <dictionary>
        <!-- Show product master form -->
        <entry key="Step1" value="POSServer.ViewModels.Synchronize.CreateSyncUSBViewModel"/>
      </dictionary>
    </property>
    <property name="Session" ref="FlowSession" />
  </object>
  
  <object id="SystemConfigFlow" type="AppFrame.Base.DefaultFlow, AppFrame" singleton="false">
    <property name="FlowSteps">
      <dictionary>
        <!-- Show product master form -->
        <entry key="Step1" value="POSServer.ViewModels.Tool.SystemConfigViewModel"/>
      </dictionary>
    </property>
    <property name="Session" ref="FlowSession" />
  </object>

  <object id="EmployeesViewFlow" type="AppFrame.Base.ChildFlow, AppFrame" singleton="false">
    <property name="FlowSteps">
      <dictionary>
        <!-- Show product master form -->
        <entry key="Step1" value="POSServer.ViewModels.Management.EmployeesViewModel"/>
      </dictionary>
    </property>
    <property name="Session" ref="FlowSession" />
  </object>

  <object id="UserInfoViewFlow" type="AppFrame.Base.ChildFlow, AppFrame" singleton="false">
    <property name="FlowSteps">
      <dictionary>
        <!-- Show product master form -->
        <entry key="Step1" value="POSServer.ViewModels.Security.UserInfoViewModel"/>
      </dictionary>
    </property>
    <property name="Session" ref="FlowSession" />
  </object>
  
</objects>