<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net"
         xmlns:tx="http://www.springframework.net/tx">

  <object id="FlowSession" type="AppFrame.Base.FlowSession, AppFrame" singleton="false" />
  
  <object id="LoginFlow" type="AppFrame.Base.DefaultFlow, AppFrame" singleton="false">
    <property name="FlowSteps">
      <dictionary>
        <!-- Show login form -->
        <entry key="Step1" value="POSServer.ViewModels.Security.ILoginViewModel"/>
        <!-- run register action -->
        <entry key="Step2" value="POSServer.Actions.Security.IRegisterUserAction"/>
      </dictionary>
    </property>
    <property name="Session" ref="FlowSession" />
  </object>
  
  <object id="ProductMasterCreateFlow" type="AppFrame.Base.DefaultFlow, AppFrame" singleton="false">
    <property name="FlowSteps">
      <dictionary>        
        <entry key="Step1" value="POSServer.Actions.ProductMaster.IPmPreLoadDefinitionAction"/>
        <!-- Show product master form -->
        <entry key="Step2" value="POSServer.ViewModels.ProductMaster.IProductMasterViewModel"/>
        <!-- Show product master summary form -->
        <entry key="Step3" value="POSServer.ViewModels.ProductMaster.IProductMasterSummaryViewModel"/>
        <!-- Save Product Master -->
        <entry key="Step4" value="POSServer.Actions.ProductMaster.IPmSaveAction"/>
      </dictionary>
    </property>
    <property name="Session" ref="FlowSession" />
  </object>
  <object id="ProductColorViewFlow" type="AppFrame.Base.ChildFlow, AppFrame" singleton="false">
    <property name="FlowSteps">
      <dictionary>
        <!--<entry key="Step1" value="POSServer.Actions.ProductMaster.IExProductColorsViewPreLoadAction"/>-->
        <!-- Show product master form -->
        <entry key="Step1" value="POSServer.ViewModels.ProductMaster.IExProductColorViewModel"/>
        <!-- Show product master summary form -->
        <!--<entry key="Step3" value="POSServer.Actions.ProductMaster.IExProductColorsViewSaveAction"/>-->
      </dictionary>
    </property>
    <property name="Session" ref="FlowSession" />
  </object>
  <object id="ProductSizeViewFlow" type="AppFrame.Base.ChildFlow, AppFrame" singleton="false">
    <property name="FlowSteps">
      <dictionary>        
        <!-- Show product master form -->
        <entry key="Step1" value="POSServer.ViewModels.ProductMaster.IExProductSizeViewModel"/>        
      </dictionary>
    </property>
    <property name="Session" ref="FlowSession" />
  </object>
  <object id="ProductTypeViewFlow" type="AppFrame.Base.ChildFlow, AppFrame" singleton="false">
    <property name="FlowSteps">
      <dictionary>
        <!-- Show product master form -->
        <entry key="Step1" value="POSServer.ViewModels.ProductMaster.IProductTypeViewModel"/>
      </dictionary>
    </property>
    <property name="Session" ref="FlowSession" />
  </object>
  <object id="ProductCategoryViewFlow" type="AppFrame.Base.ChildFlow, AppFrame" singleton="false">
    <property name="FlowSteps">
      <dictionary>
        <!-- Show product master form -->
        <entry key="Step1" value="POSServer.ViewModels.ProductMaster.IProductCategoryViewModel"/>
      </dictionary>
    </property>
    <property name="Session" ref="FlowSession" />
  </object>
  <object id="StockInCreateFlow" type="AppFrame.Base.DefaultFlow, AppFrame" singleton="false">
    <property name="FlowSteps">
      <dictionary>        
        <entry key="Step1" value="POSServer.Actions.Stock.StockIn.IStockInPreLoadAction"/>        
        <!-- Show product master form -->
        <entry key="Step2" value="POSServer.ViewModels.Stock.StockIn.IStockInViewModel"/>
        <!-- Show product master summary form -->
        <entry key="Step3" value="POSServer.ViewModels.Stock.StockIn.IStockInConfirmViewModel"/>
        <!-- Save Product Master -->
        <entry key="Step4" value="POSServer.Actions.Stock.StockIn.IStockInSaveAction"/>        
      </dictionary>
    </property>
    <property name="Session" ref="FlowSession" />
  </object>
</objects>