<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://www.springframework.net http://www.springframework.net/xsd/spring-objects.xsd">
   
  <!-- START: Define Login Logic -->
  
  <object id="LoginLogic" type="AppFrame.Logic.LoginLogic, App_Code"  singleton="false" >
    <property name="LoginDao" ref="LoginDaoImpl" />
    <property name="RoleDao" ref="RoleDaoImpl" />
  </object>
  <object name="saoLoginLogic" type="Spring.Remoting.SaoExporter, Spring.Services">
    <property name="TargetName" value="LoginLogic" />
    <property name="Infinite" value="false" />
    <property name="ServiceName" value="LoginLogic.rem" />
  </object>
  <!-- END: Define Login Logic -->
  
  <!-- START: Define Counter Logic -->
  <object id="CounterLogic" type="AppFrame.Logic.CounterLogic,App_Code" singleton="false"></object>  
  <object name="saoCounterLogic" type="Spring.Remoting.SaoExporter, Spring.Services">
    <property name="TargetName" value="CounterLogic" />
    <property name="Infinite" value="false" />
    <property name="ServiceName" value="CounterLogic.rem" />
  </object>
  <!-- END: Define Counter Logic -->
  
  <!-- START: 'Login Logic' Web Service -->
  <object id="LoginLogicService" type="AppFrame.Logic.LoginLogic, App_Code">
    <property name="LoginDao" ref="LoginDaoImpl" />
  </object>
  <object id="LoginLogicWebService" type="Spring.Web.Services.WebServiceExporter, Spring.Web">
    <property name="TargetName" value="LoginLogicWebService" />
    <property name="Name" value="LoginLogicWebService" />
    <property name="Namespace" value="http://localhost/AppFrameWeb"/>
    <property name="Description" value="'LoginLogic' Web Service" />
    <property name="MemberAttributes">
      <dictionary>
        <entry key="validate">
          <object type="System.Web.Services.WebMethodAttribute, System.Web.Services">
            <property name="Description">
              <value>validate method</value>
            </property>
            <property name="MessageName">
              <value>validate</value>
            </property>
          </object>
        </entry>
        <entry key="doAuthentication">
          <object type="System.Web.Services.WebMethodAttribute, System.Web.Services">
            <property name="Description">
              <value>doAuthentication method</value>
            </property>
            <property name="MessageName">
              <value>doAuthentication</value>
            </property>
          </object>
        </entry>
      </dictionary>
    </property>
  </object>  
  <!-- END: 'Login Logic' Web Service --> 

</objects>
