.errorsBox h3 {
    color: #a82113;
    margin-bottom:0;
    padding-left:56px;
    background: url("") no-repeat top left;
}

.error input, .errorField {
    border: 1px solid #a82113;
}

#errors {
    clear:both;
    margin-left:15px;
    margin-bottom:10px;
    padding:0;
    position:relative;
    /*border:1px solid #BB2716;*/
    border:1px solid #ce6e5f;
    background: url(errorBack.gif) repeat-x;
}
#errors ul {
    padding: 5px 0 5px 0;
    margin: 5px 0 5px 20px;
    background: url(errorIcon.gif) no-repeat 0 5px;
}
#errors ul li {
    margin: 0 0 3px 55px;
    font-weight: normal;
    font-size: 9pt;
}

.error, .error label {
    color: #A82113;
}

.input_text1 {
	background:#F2FAC8 none repeat scroll 0 0;
	border:1px solid #628923;
}

.input_text {
    background-image:url(inputBckgrnd.gif);
    background-position:left top;
    background-repeat:repeat-x;
    border:1px solid #999999;
    color:#333333;
}

.input_button {
background:white url(nav-bg.gif) repeat-x scroll center bottom;
border-color:#DDDDDD #AAAAAA #AAAAAA #DDDDDD;
border-style:solid;
border-width:1px;
color:black;
}

label, .label {
-x-system-font:none;
color:#333333;
display:block;
font-family:arial;
font-size:10pt;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:bold;
line-height:9pt;
margin:2px 0;
}

body, div, p, td, th, pre {
	color:#333333;
	font-family:arial;
	font-size:10pt;
	font-size-adjust:none;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:normal;
}	