<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="CoralPOS.Properties.Settings.pos2ConnectionString" connectionString="Data Source=|DataDirectory|\pos2.sdf;Password=admin;Persist Security Info=True" providerName="Microsoft.SqlServerCe.Client.3.5" />
    <add name="CoralPOS.Properties.Settings.pos2ServerString" connectionString="Data Source=XE;Persist Security Info=True;User ID=pos2;Password=admin;Unicode=True" providerName="System.Data.OracleClient" />
    <add name="pos2Entities" connectionString="metadata=res://*/ClientModels.csdl|res://*/ClientModels.ssdl|res://*/ClientModels.msl;provider=System.Data.SqlServerCe.3.5;provider connection string=&quot;Data Source=|DataDirectory|\pos2.sdf;Password=admin;Persist Security Info=True&quot;" providerName="System.Data.EntityClient" />
    <add name="ClientModels" connectionString="metadata=res://*/ClientModels.csdl|res://*/ClientModels.ssdl|res://*/ClientModels.msl;provider=System.Data.SqlServerCe.3.5;provider connection string=&quot;Data Source=|DataDirectory|\pos2.sdf;Password=admin;Persist Security Info=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>