<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net"
        
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:appframe="http://www.appframe.com/schema/appframe"
	xsi:schemaLocation="http://www.springframework.net http://www.springframework.net/xsd/spring-objects.xsd">

  <!-- START Logic definitions -->
  <object name="EmployeeWorkingsLogic" type="ClientManagementTool.Logic.EmployeeWorkingsLogicImpl, ClientManagementTool" singleton="true">
    <property name="EmployeeWorkingDayLogic" ref="AppFrame.Service.IEmployeeWorkingDayLogic"     />
    <property name="EmployeeInfoLogic" ref="AppFrame.Service.IEmployeeDetailLogic"     />
    <property name="EmployeeLogic" ref="AppFrame.Service.IEmployeeLogic"     />

  </object> 
  
  <object name="SecurityController" type="AppFrameClient.Presenter.SecurityController, AppFrameClient">    
    <property name="DepartmentLogic" ref="AppFrame.Service.IDepartmentLogic"     />
    <property name="LoginLogic" ref="LocalLoginLogic"     />    
  </object>
  
  <!-- END Logic definitions -->
  <!-- START Form definitions -->
  <object id="EmployeeWorkingView" type="ClientManagementTool.View.Management.EmployeeWorkingsForm, ClientManagementTool" singleton="false">
    <property name="EmployeeWorkingsLogic" ref="EmployeeWorkingsLogic" />   
    
  </object>  
  
  <!-- END Form definitions -->
</objects>
