<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="POSReports.Properties.Settings.posConnectionString"
            connectionString="User Id=dbadmin;Password=1qw45DCM9rl;Host=localhost;Database=pos;Unicode=True;Compress=True;Persist Security Info=True;Default Command Timeout=360;Connection Timeout=360;Connection Lifetime=300"
            providerName="Devart.Data.MySql" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
