<?xml version="1.0"?>
<configuration>
  <configSections>
    <!-- Enteprise Library Config -->
    <!-- Spring section config -->
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core"/>
      <section name="parsers" type="Spring.Context.Support.NamespaceParsersSectionHandler, Spring.Core"/>
    </sectionGroup>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging"/>
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <section name="nhibernate" type="System.Configuration.NameValueSectionHandler, System" />
    <section name="databaseSettings" type="System.Configuration.NameValueSectionHandler"/>     
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="AppFrameClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <!-- Spring Configuration -->  
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net">
        <arg key="configType" value="FILE-WATCH"/>
        <arg key="configFile" value="~/log4net.config"/>
      </factoryAdapter>
    </logging>
  </common>
  <nhibernate>
    <!-- with this set to true, SQL statements 
         will output to the console window if it's a console app -->
    <add key="hibernate.show_sql" value="true" />
  </nhibernate>
  <connectionStrings>
    <add name="AppFrameClient.Properties.Settings.PTrackerConnectionString"
      connectionString="Data Source=NAMTN;Initial Catalog=PTracker;Persist Security Info=True;User ID=administrator;Password=rfchcm2008"
      providerName="System.Data.SqlClient" />
    <add name="AppFrameClient.Properties.Settings.posConnectionString"
      connectionString="Password=1qw45DCM9rl;user id=dbadmin;server=localhost;persist security info=True;database=pos"
      providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <spring>
    <parsers>
      <!--
      <parser type="Spring.Remoting.Config.RemotingNamespaceParser, Spring.Services" /> -->
      <!--<parser namespace="http://www.appframe.com/schema/appframe" type="AppFrame.Common.SpringSupport.AppFrameSecurityParser, AppFrame"  schemaLocation="assembly://AppFrame/AppFrame/AppFrameConfiguration.xsd" />-->
      <parser type="Spring.Data.Config.DatabaseNamespaceParser, Spring.Data"/>
      <parser type="Spring.Transaction.Config.TxNamespaceParser, Spring.Data"/>
    </parsers>
    <context>      
      <resource uri="assembly://AppFrameClient/AppFrameClient.Config/MySQLDao.xml"/>
      <resource uri="assembly://AppFrameClient/AppFrameClient.Config/Services.xml"/>      
      <resource uri="assembly://AppFrameClient/AppFrameClient.Config/Presentation.config"/>
      <resource uri="assembly://AppFrameClient/AppFrameClient.Config/AppFrameObject.config"/>

    </context>
  </spring>
  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">      
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral"/>
        <bindingRedirect oldVersion="5.2.3.0" newVersion="5.2.5.0"/>
      </dependentAssembly>
    </assemblyBinding>

  </runtime>
  <system.runtime.remoting>
    <application>
      <channels>
        <channel ref="http">
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full"/>
          </serverProviders>
          <clientProviders>
            <formatter ref="binary" typeFilterLevel="Full"/>
          </clientProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>
<startup><supportedRuntime version="v2.0.50727"/>
  <supportedRuntime version="v1.0.3705"/>
</startup>

  <appSettings>
    <add key="SyncImportPath" value="D:\POS\Import" />
    <add key="SyncImportSuccessPath" value="D:\POS\Success" />
    <add key="SyncImportErrorPath" value="D:\POS\Error" />
    <add key="SyncExportPath" value="D:\POS\Export" />
    <add key="PrinterName" value="PDFCreator" />
  </appSettings>
  <userSettings>
    <AppFrameClient.Properties.Settings>
      <setting name="IsClient" serializeAs="String">
        <value />
      </setting>
      <setting name="SyncImportPath" serializeAs="String">
        <value>\POS\CH-KHO</value>
      </setting>
      <setting name="SyncSuccessPath" serializeAs="String">
        <value>\POS\Success</value>
      </setting>
      <setting name="SyncErrorPath" serializeAs="String">
        <value>\POS\Error</value>
      </setting>
      <setting name="SyncExportPath" serializeAs="String">
        <value>\POS\KHO-CH</value>
      </setting>
      <setting name="PrinterName" serializeAs="String">
        <value>cboPrinters</value>
      </setting>
      <setting name="MySQLDump" serializeAs="String">
        <value>C:\Program Files\MySQL\MySQL Server 5.1\bin</value>
      </setting>
      <setting name="DBBackupPath" serializeAs="String">
        <value>\POS\BackupDB</value>
      </setting>
    </AppFrameClient.Properties.Settings>
  </userSettings>
</configuration>
