<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="DBTypeCommon" value="SQLSERVER"/>
    <!--<add key="CONNECTION_STRING" value="Server=192.168.0.133, 16525;Database=PCET_UAT;Trusted_Connection=True;User ID = "/>-->
    <add key="CONNECTION_STRING" value="Data Source=localhost;Database=pos;User ID=dbadmin;password=1qw45DCM9rl;Port=3306;"/>
    <add key="DBServer" value="localhost"/>
    <add key="DBName" value="pos"/>
    <add key="DBUserID" value="dbadmin"/>
    <add key="DBUserPwd" value="1qw45DCM9rl"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
