<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
<form id="mainform">
<div id="divKhachHangCongTy" >
<h2>Tạo/Chỉnh sửa máy</h2>
<table border="0" width="40%" cellspacing="1" cellpadding="1" id="table1">
	<tr>
		<td nowrap width="1%">Mã sản phẩm&nbsp;</td>
		<td>
            <input type="text" name="txtMachineId" maxlength="10" size="20"/>
		</td>
	</tr>
	<tr>
		<td nowrap width="1%">Tên sản phẩm&nbsp;</td>
		<td>
            <input type="text" name="txtMachineName" maxlength="30" size="20"/>
		</td>
	</tr>
	<tr>
		<td nowrap width="1%">Loại sản phẩm&nbsp;</td>
		<td>
            <select name="cbbMachineType" style="border-style: solid; border-width: 1px; border-color: teal">
				<option value="1">hahahaha</option>
			</select>
		</td>
	</tr>
    <tr>
		<td nowrap width="1%">Số hiệu&nbsp;</td>
		<td>
            <input type="text" name="txtSerialNumber" maxlength="30" size="20"/>
		</td>
	</tr>
    <tr>
		<td nowrap width="1%">Counter No&nbsp;</td>
		<td>
            <input type="text" name="txtCounterNo" maxlength="30" size="20"/>
		</td>
	</tr>
	<tr>
		<td nowrap width="1%">Màu&nbsp;</td>
		<td>
            <input type="text" name="txtColor" maxlength="30" size="20"/>
		</td>
	</tr>
	<tr>
		<td nowrap width="1%">Fax - Truyền(TX)&nbsp;</td>
		<td>
            <input type="text" name="txtFaxTx" maxlength="30" size="20"/>
		</td>
	</tr>
	<tr>
		<td nowrap width="1%">Nhận(RX)&nbsp;</td>
		<td>
            <input type="text" name="txtReceiveRx" maxlength="30" size="20"/>
		</td>
	</tr>
	<tr>
		<td nowrap width="1%">Preport - Master&nbsp;</td>
		<td>
            <input type="text" name="txtPreMaster" maxlength="30" size="20"/>        
		</td>
	</tr>
	<tr>
		<td nowrap width="1%">Copy&nbsp;</td>
		<td>
            <input type="text" name="txtCopy" maxlength="30" size="20"/>                
		</td>
	</tr>
	<tr>
		<td nowrap width="1%">Mô tả&nbsp;</td>
		<td>
            <textarea name="txtDescription" Rows="5" Cols="70"/>
		</td>
	</tr>
	<tr>
		<td colspan="2" align="center">
            <input type="button" value="Lưu" id="btnSave" >
			<input type="button" value="Bỏ qua" id="btnCancel">
		</td>
	</tr>
</table>
</div>
</form>
</body>
</html>