<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->
Asp.Net Configuration option in Visual Studio. A full list of settings and comments
can be found in machine.config.comments usually located in \Windows\Microsoft.Net\Framework\v2.x\Config
-->
<configuration>
	<configSections>
		<sectionGroup name="spring">
			<section name="context" type="Spring.Context.Support.WebContextHandler, Spring.Web"/>
			<section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core"/>
			<section name="parsers" type="Spring.Context.Support.NamespaceParsersSectionHandler, Spring.Core"/>
		</sectionGroup>
		<section name="databaseSettings" type="System.Configuration.NameValueSectionHandler"/>
		<sectionGroup name="common">
			<section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging"/>
		</sectionGroup>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
		</configSections>
	<common>
		<logging>
			<factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net">
				<arg key="configType" value="FILE-WATCH"/>
				<arg key="configFile" value="~/log4net.config"/>
			</factoryAdapter>
		</logging>
	</common>
	<spring>
		<parsers>
			<parser type="Spring.Remoting.Config.RemotingNamespaceParser, Spring.Services"/>
			<parser type="Spring.Data.Config.DatabaseNamespaceParser, Spring.Data"/>
		</parsers>
		<context>
			<resource uri="~/Dao.config"/>
			<resource uri="~/AppFrameWeb.config"/>
		</context>
	</spring>
	<databaseSettings>
		<add key="db.datasource" value="localhost"/>
		<add key="db.user" value="root"/>
		<add key="db.password" value="rfchcm"/>
		<add key="db.database" value="pos"/>
	</databaseSettings>
	<appSettings></appSettings>
	<connectionStrings/>
	<system.web>		
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Runtime.Remoting, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Deployment, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Messaging, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Transactions, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>				
      </assemblies>
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="None"/>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<httpHandlers>
      <add verb="*" path="*.asmx" type="Spring.Web.Services.WebServiceHandlerFactory, Spring.Web"/>      
    </httpHandlers>
		<httpModules>
			<add name="Spring" type="Spring.Context.Support.WebSupportModule, Spring.Web"/>
			<add name="OpenSessionInView" type="Spring.Data.NHibernate.Support.OpenSessionInViewModule, Spring.Data.NHibernate20"/>			
    </httpModules>
	</system.web>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral"/>
				<bindingRedirect oldVersion="5.2.3.0" newVersion="5.2.5.0"/>
			</dependentAssembly>			
    </assemblyBinding>
	</runtime>
</configuration>
