<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net"
        
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:appframe="http://www.appframe.com/schema/appframe"
	xsi:schemaLocation="http://www.springframework.net http://www.springframework.net/xsd/spring-objects.xsd">

  <!-- START Logic definitions -->
  <object name="SalePointController" type="CoralPOSClient.Presenter.SalePoints.SalePointController, CoralPOSClient" singleton="true">
    <property name="EmployeeLogic" ref="CoralPOS.Service.IEmployeeLogic"     />
    <property name="EmployeeDetailLogic" ref="CoralPOS.Service.IEmployeeDetailLogic"     />
    <property name="DepartmentLogic" ref="CoralPOS.Service.IDepartmentLogic"     />
  </object>

  <!-- START Logic definitions -->
  <object name="SalePointListEventArgs" type ="CoralPOS.Interfaces.Presenter.SalePoints.SalePointListEventArgs, CoralPOS.Interfaces" />  
  <object name="SalePointListController" type="CoralPOSClient.Presenter.SalePoints.SalePointListController, CoralPOSClient">
    <property name="DepartmentLogic" ref="CoralPOS.Service.IDepartmentLogic"     />
    <property name="ResultEventArgs" ref ="SalePointListEventArgs" />
  </object>
  
  
  <object name="EmployeeController" type="CoralPOSClient.Presenter.SalePoints.EmployeeController, CoralPOSClient">
    <property name="EmployeeLogic" ref="CoralPOS.Service.IEmployeeLogic"     />
    <property name="EmployeeDetailLogic" ref="CoralPOS.Service.IEmployeeDetailLogic"     />
  </object>
  
  <object name="ProductMasterController" type="CoralPOSClient.Presenter.GoodsIO.ProductMasterController, CoralPOSClient">
    <property name="ProductTypeLogic" ref="CoralPOS.Service.IProductTypeLogic"     />
    <property name="ProductSizeLogic" ref="CoralPOS.Service.IProductSizeLogic"     />
    <property name="ProductColorLogic" ref="CoralPOS.Service.IProductColorLogic"     />
    <property name="CountryLogic" ref="CoralPOS.Service.ICountryLogic"     />
    <property name="ProductMasterLogic" ref="CoralPOS.Service.IProductMasterLogic"     />
    <property name="PackagerLogic" ref="CoralPOS.Service.IPackagerLogic"     />
    <property name="ManufacturerLogic" ref="CoralPOS.Service.IManufacturerLogic"     />
    <property name="DistributorLogic" ref="CoralPOS.Service.IDistributorLogic"     />
    <property name="DepartmentPriceLogic" ref="CoralPOS.Service.IDepartmentPriceLogic"     />
  </object>

    <object name="ProductMasterSearchOrCreateController" type="CoralPOSClient.Presenter.GoodsIO.ProductMasterSearchOrCreateController, CoralPOSClient">
        <property name="ProductTypeLogic" ref="CoralPOS.Service.IProductTypeLogic"     />
        <property name="ProductSizeLogic" ref="CoralPOS.Service.IProductSizeLogic"     />
        <property name="ProductColorLogic" ref="CoralPOS.Service.IProductColorLogic"     />
        <property name="CountryLogic" ref="CoralPOS.Service.ICountryLogic"     />
        <property name="ProductMasterLogic" ref="CoralPOS.Service.IProductMasterLogic"     />
      <property name="PackagerLogic" ref="CoralPOS.Service.IPackagerLogic"     />
      <property name="ManufacturerLogic" ref="CoralPOS.Service.IManufacturerLogic"     />
      <property name="DistributorLogic" ref="CoralPOS.Service.IDistributorLogic"     />
      
    </object>
  
    <object name="ProductMasterSearchDepartmentController" type="CoralPOSClient.Presenter.GoodsIO.ProductMasterSearchDepartmentController, CoralPOSClient">
        <property name="ProductTypeLogic" ref="CoralPOS.Service.IProductTypeLogic"     />
        <property name="ProductSizeLogic" ref="CoralPOS.Service.IProductSizeLogic"     />
        <property name="ProductColorLogic" ref="CoralPOS.Service.IProductColorLogic"     />
        <property name="CountryLogic" ref="CoralPOS.Service.ICountryLogic"     />
        <property name="ProductMasterLogic" ref="CoralPOS.Service.IProductMasterLogic"     />
      <property name="PackagerLogic" ref="CoralPOS.Service.IPackagerLogic"     />
      <property name="ManufacturerLogic" ref="CoralPOS.Service.IManufacturerLogic"     />
      <property name="DistributorLogic" ref="CoralPOS.Service.IDistributorLogic"     />
      <property name="ProductLogic" ref="CoralPOS.Service.IProductLogic"     />
      <property name="DepartmentStockInDetailLogic" ref="CoralPOS.Service.IDepartmentStockInDetailLogic"     />
      <property name="DepartmentStockLogic" ref="CoralPOS.Service.IDepartmentStockLogic"     />
    </object>
        
        
    <object name="GoodsIOSearchController" type="CoralPOSClient.Presenter.GoodsIO.GoodsIOSearchController, CoralPOSClient">
        <property name="BlockInDetailLogic" ref="CoralPOS.Service.IBlockInDetailLogic"     />
    </object>
    <object name="StockCreateController" type="CoralPOSClient.Presenter.GoodsIO.StockCreateController, CoralPOSClient">
      <property name="StockLogic" ref="CoralPOS.Service.IStockLogic"     />
      <property name="StockInDetailLogic" ref="CoralPOS.Service.IStockInDetailLogic"     />
      <property name="StockInLogic" ref="CoralPOS.Service.IStockInLogic"     />
      <property name="ReturnProductLogic" ref="CoralPOS.Service.IReturnProductLogic"     />
    </object>
  <object name="StockSearchController" type="CoralPOSClient.Presenter.GoodsIO.StockSearchController, CoralPOSClient">
    <property name="StockLogic" ref="CoralPOS.Service.IStockLogic"     />
    <property name="ProductTypeLogic" ref="CoralPOS.Service.IProductTypeLogic"     />
    <property name="ProductSizeLogic" ref="CoralPOS.Service.IProductSizeLogic"     />
    <property name="ProductColorLogic" ref="CoralPOS.Service.IProductColorLogic"     />
    <property name="CountryLogic" ref="CoralPOS.Service.ICountryLogic"     />
    <property name="PackagerLogic" ref="CoralPOS.Service.IPackagerLogic"     />
    <property name="ManufacturerLogic" ref="CoralPOS.Service.IManufacturerLogic"     />
    <property name="DistributorLogic" ref="CoralPOS.Service.IDistributorLogic"     />
    <property name="StockInDetailLogic" ref="CoralPOS.Service.IStockInDetailLogic"     />
    <property name="StockHistoryLogic" ref="CoralPOS.Service.IStockHistoryLogic"     />
    <property name="DepartmentStockInDetailLogic" ref="CoralPOS.Service.IDepartmentStockInDetailLogic"     />
  </object>

  <object name="DepartmentStockAdhocProcessingController" type="CoralPOSClient.Presenter.Inventory.DepartmentStockAdhocProcessingController, CoralPOSClient">
    <property name="ProductLogic" ref="CoralPOS.Service.IProductLogic"     />
    <property name="ProductMasterLogic" ref="CoralPOS.Service.IProductMasterLogic"     />
    <property name="DepartmentStockTempLogic" ref="CoralPOS.Service.IDepartmentStockTempLogic"     />
    <property name="StockOutLogic" ref="CoralPOS.Service.IStockOutLogic"     />
    <property name="StockInLogic" ref="CoralPOS.Service.IStockInLogic"     />
    <property name="StockOutDetailLogic" ref="CoralPOS.Service.IStockOutDetailLogic"     />
    <property name="StockInDetailLogic" ref="CoralPOS.Service.IStockInDetailLogic"     />
  </object>

  <object name="DepartmentStockFixingController" type="CoralPOSClient.Presenter.Inventory.DepartmentStockFixingController, CoralPOSClient">
    <property name="ProductLogic" ref="CoralPOS.Service.IProductLogic"     />
    <property name="ProductMasterLogic" ref="CoralPOS.Service.IProductMasterLogic"     />
    <property name="DepartmentStockLogic" ref="CoralPOS.Service.IDepartmentStockLogic"     />
    <property name="StockOutLogic" ref="CoralPOS.Service.IStockOutLogic"     />
    <property name="StockInLogic" ref="CoralPOS.Service.IStockInLogic"     />
    <property name="StockOutDetailLogic" ref="CoralPOS.Service.IStockOutDetailLogic"     />
    <property name="StockInDetailLogic" ref="CoralPOS.Service.IStockInDetailLogic"     />
  </object>
          
  <object name="DepartmentStockInController" type="CoralPOSClient.Presenter.GoodsIO.DepartmentStockData.DepartmentStockInController, CoralPOSClient">
    <property name="ProductMasterLogic" ref="CoralPOS.Service.IProductMasterLogic"     />
    <property name="DepartmentStockInLogic" ref="CoralPOS.Service.IDepartmentStockInLogic"     />
    <property name="DepartmentStockInDetailLogic" ref="CoralPOS.Service.IDepartmentStockInDetailLogic"     />
    <property name="StockLogic" ref="CoralPOS.Service.IStockLogic"     />
    <property name="DepartmentLogic" ref="CoralPOS.Service.IDepartmentLogic"     />
    <property name="DepartmentStockLogic" ref="CoralPOS.Service.IDepartmentStockLogic"     />
    <property name="DepartmentStockOutLogic" ref="CoralPOS.Service.IDepartmentStockOutLogic"     />
    <property name="StockOutLogic" ref="CoralPOS.Service.IStockOutLogic"     />
    <property name="DepartmentStockOutDetailLogic" ref="CoralPOS.Service.IDepartmentStockOutDetailLogic"     />
    <property name="DepartmentPriceLogic" ref="CoralPOS.Service.IDepartmentPriceLogic"     />
    <property name="DepartmentLogic" ref="CoralPOS.Service.IDepartmentLogic"     />
    <property name="EmployeeLogic" ref="CoralPOS.Service.IEmployeeLogic"     />
  </object>
  <!-- DepartmentStockInExtra-->
  <object name="DepartmentStockInExtraController" type="CoralPOSClient.Presenter.GoodsIO.DepartmentStockData.DepartmentStockInExtraController, CoralPOSClient">
    
    <property name="ProductMasterLogic" ref="CoralPOS.Service.IProductMasterLogic"     />
    <property name="DepartmentStockInLogic" ref="CoralPOS.Service.IDepartmentStockInLogic"     />
    <property name="DepartmentStockInDetailLogic" ref="CoralPOS.Service.IDepartmentStockInDetailLogic"     />    
    <property name="StockLogic" ref="CoralPOS.Service.IStockLogic"     />
    <property name="DepartmentLogic" ref="CoralPOS.Service.IDepartmentLogic"     />
    <property name="DepartmentStockLogic" ref="CoralPOS.Service.IDepartmentStockLogic"     />
    
    <property name="DepartmentStockOutLogic" ref="CoralPOS.Service.IDepartmentStockOutLogic"     />
    <property name="StockOutLogic" ref="CoralPOS.Service.IStockOutLogic"     />
    <property name="DepartmentStockOutDetailLogic" ref="CoralPOS.Service.IDepartmentStockOutDetailLogic"     />
    <property name="DepartmentPriceLogic" ref="CoralPOS.Service.IDepartmentPriceLogic"     />
    <property name="ProductSizeLogic" ref="CoralPOS.Service.IProductSizeLogic"     />
    <property name="ProductColorLogic" ref="CoralPOS.Service.IProductColorLogic"     />    
    <property name="EmployeeLogic" ref="CoralPOS.Service.IEmployeeLogic"     />
    <property name="EmployeeDetailLogic" ref="CoralPOS.Service.IEmployeeDetailLogic"     />
    <property name="DepartmentStockTempLogic" ref="CoralPOS.Service.IDepartmentStockTempLogic"     />
    
  </object>
  <!-- DepartmentStockInExtra-->  
  
  <object name="DepartmentStockSearchController" type="CoralPOSClient.Presenter.GoodsIO.DepartmentStockData.DepartmentStockSearchController, CoralPOSClient">
    
    <property name="DepartmentStockLogic" ref="CoralPOS.Service.IDepartmentStockLogic"     />
    <property name="ProductTypeLogic" ref="CoralPOS.Service.IProductTypeLogic"     />
    <property name="ProductSizeLogic" ref="CoralPOS.Service.IProductSizeLogic"     />
    <property name="ProductColorLogic" ref="CoralPOS.Service.IProductColorLogic"     />
    <property name="CountryLogic" ref="CoralPOS.Service.ICountryLogic"     />
    <property name="ManufacturerLogic" ref="CoralPOS.Service.IManufacturerLogic"     />
  </object>
  <object name="UniversalMasterSaveController" type="CoralPOSClient.Presenter.Masters.UniversalMasterSaveController, CoralPOSClient">
    <property name="ProductTypeLogic" ref="CoralPOS.Service.IProductTypeLogic"     />
    <property name="ProductSizeLogic" ref="CoralPOS.Service.IProductSizeLogic"     />
    <property name="ProductColorLogic" ref="CoralPOS.Service.IProductColorLogic"     />
    <property name="CountryLogic" ref="CoralPOS.Service.ICountryLogic"     />
    <property name="ManufacturerLogic" ref="CoralPOS.Service.IManufacturerLogic"     />
    <property name="DistributorLogic" ref="CoralPOS.Service.IDistributorLogic"     />
    <property name="PackagerLogic" ref="CoralPOS.Service.IPackagerLogic"     />
  </object>
  <object name="DepartmentStockDetailController" type="CoralPOSClient.Presenter.GoodsIO.DepartmentStockData.DepartmentStockDetailController, CoralPOSClient">
    <property name="DepartmentStockInDetailLogic" ref="CoralPOS.Service.IDepartmentStockInDetailLogic"     />
    <property name="DepartmentPriceLogic" ref="CoralPOS.Service.IDepartmentPriceLogic"     />
  </object>
  <object name="DepartmentStockInSearchController" type="CoralPOSClient.Presenter.GoodsIO.DepartmentStockData.DepartmentStockInSearchController, CoralPOSClient">
    <property name="DepartmentStockInLogic" ref="CoralPOS.Service.IDepartmentStockInLogic"     />
  </object>
  <object name="MainStockInSearchController" type="CoralPOSClient.Presenter.GoodsIO.MainStock.MainStockInSearchController, CoralPOSClient">
    <property name="StockInLogic" ref="CoralPOS.Service.IStockInLogic"     />
  </object>

  <object name="DepartmentPriceUpdateController" type="CoralPOSClient.Presenter.GoodsIO.DepartmentStockData.DepartmentPriceUpdateController, CoralPOSClient">
    <property name="DepartmentPriceLogic" ref="CoralPOS.Service.IDepartmentPriceLogic"     />
    <property name="ProductTypeLogic" ref="CoralPOS.Service.IProductTypeLogic"     />
    <property name="ProductSizeLogic" ref="CoralPOS.Service.IProductSizeLogic"     />
    <property name="ProductColorLogic" ref="CoralPOS.Service.IProductColorLogic"     />
    <property name="CountryLogic" ref="CoralPOS.Service.ICountryLogic"     />
    <property name="PackagerLogic" ref="CoralPOS.Service.IPackagerLogic"     />
    <property name="ManufacturerLogic" ref="CoralPOS.Service.IManufacturerLogic"     />
    <property name="DistributorLogic" ref="CoralPOS.Service.IDistributorLogic"     />
  </object>

  <object name="MainStockInController" type="CoralPOSClient.Presenter.GoodsIO.MainStock.MainStockInController, CoralPOSClient">
    <property name="ProductSizeLogic" ref="CoralPOS.Service.IProductSizeLogic"     />
    <property name="ProductColorLogic" ref="CoralPOS.Service.IProductColorLogic"     />
    <property name="ProductMasterLogic" ref="CoralPOS.Service.IProductMasterLogic"     />
    <property name="StockInLogic" ref="CoralPOS.Service.IStockInLogic"     />
    <property name="DepartmentPriceLogic" ref="CoralPOS.Service.IDepartmentPriceLogic"     />
    <property name="StockOutDetailLogic" ref="CoralPOS.Service.IStockOutDetailLogic"     />
  </object>
  
  <object name="InventoryCheckingController" type="CoralPOSClient.Presenter.GoodsIO.MainStock.InventoryCheckingController, CoralPOSClient">    
    <property name="ProductMasterLogic" ref="CoralPOS.Service.IProductMasterLogic"     />    
    <property name="ProductLogic" ref="CoralPOS.Service.IProductLogic" />
    <property name="StockLogic" ref="CoralPOS.Service.IStockLogic" />
    <property name="StockInLogic" ref="CoralPOS.Service.IStockInLogic" />
    <property name="StockInDetailLogic" ref="CoralPOS.Service.IStockInDetailLogic" />
    
  </object>
  
  <object name="ProcessErrorGoodsController" type="CoralPOSClient.Presenter.GoodsIO.MainStock.ProcessErrorGoodsController, CoralPOSClient">        
    <property name="StockLogic" ref="CoralPOS.Service.IStockLogic" />
    <property name="StockOutLogic" ref="CoralPOS.Service.IStockOutLogic" />    
    <property name="StockOutDetailLogic" ref="CoralPOS.Service.IStockOutDetailLogic" />
    <property name="DepartmentStockLogic" ref="CoralPOS.Service.IDepartmentStockLogic" />
    <property name="DepartmentStockOutLogic" ref="CoralPOS.Service.IDepartmentStockOutLogic" />
    <property name="DepartmentStockOutDetailLogic" ref="CoralPOS.Service.IDepartmentStockOutDetailLogic" />    
  </object>
    
  
    
  <object name="DepartmentStockCheckingController" type="CoralPOSClient.Presenter.GoodsIO.DepartmentStockData.DepartmentStockCheckingController, CoralPOSClient">
    <property name="ProductMasterLogic" ref="CoralPOS.Service.IProductMasterLogic"     />
    <property name="ProductLogic" ref="CoralPOS.Service.IProductLogic" />
    <property name="DepartmentStockLogic" ref="CoralPOS.Service.IDepartmentStockLogic" />
    <property name="DepartmentStockInLogic" ref="CoralPOS.Service.IDepartmentStockInLogic" />    
    <property name="DepartmentStockInDetailLogic" ref="CoralPOS.Service.IDepartmentStockInDetailLogic" />

  </object>

  <object name="DepartmentStockViewCheckingController" type="CoralPOSClient.Presenter.GoodsIO.DepartmentStockData.DepartmentStockViewCheckingController, CoralPOSClient">
    <property name="ProductMasterLogic" ref="CoralPOS.Service.IProductMasterLogic"     />
    <property name="ProductLogic" ref="CoralPOS.Service.IProductLogic" />
    <property name="DepartmentStockLogic" ref="CoralPOS.Service.IDepartmentStockLogic" />
    <property name="DepartmentStockTempLogic" ref="CoralPOS.Service.IDepartmentStockTempLogic" />
    <property name="DepartmentStockInLogic" ref="CoralPOS.Service.IDepartmentStockInLogic" />
    <property name="DepartmentStockInDetailLogic" ref="CoralPOS.Service.IDepartmentStockInDetailLogic" />

  </object>
  
  <object name="GoodsSaleController" type="CoralPOSClient.Presenter.GoodsSale.GoodsSaleController, CoralPOSClient">
    <property name="PurchaseOrderLogic" ref="CoralPOS.Service.IPurchaseOrderLogic" />
    <property name="PurchaseOrderDetailLogic" ref="CoralPOS.Service.IPurchaseOrderDetailLogic" />
    <property name="DepartmentPriceLogic" ref="CoralPOS.Service.IDepartmentPriceLogic"     />
    <property name="ProductMasterLogic" ref="CoralPOS.Service.IProductMasterLogic" />
    <property name="ProductLogic" ref="CoralPOS.Service.IProductLogic" />
    <property name="DepartmentStockLogic" ref="CoralPOS.Service.IDepartmentStockLogic"     />
  </object>


  <object name="GoodsSaleReturnController" type="CoralPOSClient.Presenter.GoodsSale.GoodsSaleReturnController, CoralPOSClient">
    <property name="PurchaseOrderLogic" ref="CoralPOS.Service.IPurchaseOrderLogic" />
    <property name="PurchaseOrderDetailLogic" ref="CoralPOS.Service.IPurchaseOrderDetailLogic" />
    <property name="DepartmentPriceLogic" ref="CoralPOS.Service.IDepartmentPriceLogic"     />
    <property name="DepartmentStockLogic" ref="CoralPOS.Service.IDepartmentStockLogic"     />
    <property name="ProductMasterLogic" ref="CoralPOS.Service.IProductMasterLogic" />
    <property name="ProductLogic" ref="CoralPOS.Service.IProductLogic" />
    <property name="ReturnPoLogic" ref="CoralPOS.Service.IReturnPoLogic" />
  </object>
  
  
  <object name="GoodsSaleListController" type="CoralPOSClient.Presenter.GoodsSale.GoodsSaleListController, CoralPOSClient">
    <property name="PurchaseOrderLogic" ref="CoralPOS.Service.IPurchaseOrderLogic" />
    <property name="PurchaseOrderDetailLogic" ref="CoralPOS.Service.IPurchaseOrderDetailLogic" />    
    <property name="ProductMasterLogic" ref="CoralPOS.Service.IProductMasterLogic" />
    <property name="DepartmentPriceLogic" ref="CoralPOS.Service.IDepartmentPriceLogic"     />
    <property name="ReturnPoLogic" ref="CoralPOS.Service.IReturnPoLogic" />
  
  </object>


  <object name="BaseStockOutController" type="CoralPOSClient.Presenter.GoodsIO.MainStock.BaseStockOutController, CoralPOSClient">
    <property name="StockLogic" ref="CoralPOS.Service.IStockLogic" />    
    <property name="StockOutLogic" ref="CoralPOS.Service.IStockOutLogic" />
    <property name="StockOutDetailLogic" ref="CoralPOS.Service.IStockOutDetailLogic" />
    <property name="ProductMasterLogic" ref="CoralPOS.Service.IProductMasterLogic" />
    <property name="ProductLogic" ref="CoralPOS.Service.IProductLogic" />    
    <property name="DepartmentStockOutLogic" ref="CoralPOS.Service.IDepartmentStockOutLogic" />    
    <property name="DepartmentStockOutDetailLogic" ref="CoralPOS.Service.IDepartmentStockOutDetailLogic" />
  </object>
  
  
  <object name="ReportStockInController" type="CoralPOSClient.Presenter.Report.ReportStockInController, CoralPOSClient">
    <property name="StockLogic" ref="CoralPOS.Service.IStockLogic" />
    <property name="StockInLogic" ref="CoralPOS.Service.IStockInLogic" />
    <property name="StockInDetailLogic" ref="CoralPOS.Service.IStockInDetailLogic" />
    <property name="DepartmentLogic" ref="CoralPOS.Service.IDepartmentLogic" />
    <property name="DepartmentStockInLogic" ref="CoralPOS.Service.IDepartmentStockInLogic"     />
    <property name="DepartmentStockInDetailLogic" ref="CoralPOS.Service.IDepartmentStockInDetailLogic"     />
  </object>

  <object name="ReportStockOutController" type="CoralPOSClient.Presenter.Report.ReportStockOutController, CoralPOSClient">
    <property name="DepartmentStockInLogic" ref="CoralPOS.Service.IDepartmentStockInLogic"     />
    <property name="DepartmentStockInDetailLogic" ref="CoralPOS.Service.IDepartmentStockInDetailLogic"     />
    <property name="DepartmentStockOutLogic" ref="CoralPOS.Service.IDepartmentStockOutLogic"     />
    <property name="DepartmentStockOutDetailLogic" ref="CoralPOS.Service.IDepartmentStockOutDetailLogic"     />
    <property name="StockOutLogic" ref="CoralPOS.Service.IStockOutLogic"     />
    <property name="StockOutDetailLogic" ref="CoralPOS.Service.IStockOutDetailLogic"     />
    <property name="StockLogic" ref="CoralPOS.Service.IStockLogic"     />    
    <property name="DepartmentLogic" ref="CoralPOS.Service.IDepartmentLogic" />
    <property name="StockInLogic" ref="CoralPOS.Service.IStockInLogic"     />
  </object>

  <object name="MainStockOutController" type="CoralPOSClient.Presenter.GoodsIO.MainStock.MainStockOutController, CoralPOSClient">
    <property name="StockOutLogic" ref="CoralPOS.Service.IStockOutLogic"     />
    <property name="StockLogic" ref="CoralPOS.Service.IStockLogic"     />    
    <property name="ProductColorLogic" ref="CoralPOS.Service.IProductColorLogic"     />
    <property name="ProductSizeLogic" ref="CoralPOS.Service.IProductSizeLogic"     />
    <property name="ProductMasterLogic" ref="CoralPOS.Service.IProductMasterLogic"     />
  </object>

  <object name="DepartmentStockOutController" type="CoralPOSClient.Presenter.GoodsIO.DepartmentStockData.DepartmentStockOutController, CoralPOSClient">
    <property name="DepartmentStockOutLogic" ref="CoralPOS.Service.IDepartmentStockOutLogic"     />
    <property name="DepartmentStockLogic" ref="CoralPOS.Service.IDepartmentStockLogic"     />        
    <property name="ProductColorLogic" ref="CoralPOS.Service.IProductColorLogic"     />
    <property name="ProductSizeLogic" ref="CoralPOS.Service.IProductSizeLogic"     />
    <property name="ProductMasterLogic" ref="CoralPOS.Service.IProductMasterLogic"     />
    <property name="DepartmentTimelineLogic" ref="CoralPOS.Service.IDepartmentTimelineLogic"     />    
  </object>

  <object name="PosLogController" type="CoralPOSClient.Presenter.PosLogController, CoralPOSClient">
    <property name="PosLogLogic" ref="CoralPOS.Service.IPosLogLogic"     />
  </object>
  
  <object name="SecurityController" type="CoralPOSClient.Presenter.SecurityController, CoralPOSClient">    
    <property name="DepartmentLogic" ref="CoralPOS.Service.IDepartmentLogic"     />
    <property name="EmployeeInfoLogic" ref="CoralPOS.Service.IEmployeeDetailLogic"     />
    <property name="LoginLogic" ref="LocalLoginLogic"     />    
  </object>
  
  <!-- END Logic definitions -->
  <!-- START Form definitions -->
  <object id="SalePointView" type="CoralPOSClient.View.SalePoints.SalePointForm, CoralPOSClient" singleton="false">
    <property name="SalePointController" ref="SalePointController" />
    
    <!-- START foreign controller -->
    <property name="EmployeeController" ref="EmployeeController" />
    <!-- END foreign controller -->
  </object>
  <object id="EmployeeView" type="CoralPOSClient.View.SalePoints.EmployeeForm, CoralPOSClient" singleton="false">    
    <property name="EmployeeController" ref="EmployeeController" />
    
    <!-- START foreign controller -->
    <property name="SalePointController" ref="SalePointController" />
    <!-- END foreign controller -->
  </object>

  <object id="SalePointListView" type="CoralPOSClient.View.SalePoints.SalePointListForm, CoralPOSClient" singleton="false">
    <property name="SalePointListController" ref="SalePointListController" />

    <!-- START foreign controller -->
    <property name="SalePointController" ref="SalePointController" />    
    <!-- END foreign controller -->
  </object>

  <object id="EmployeeListView" type="CoralPOSClient.View.SalePoints.EmployeeListForm, CoralPOSClient" singleton="false">
    <property name="EmployeeController" ref="EmployeeController" />
  </object>
  
  <object id="GoodsSaleView" type="CoralPOSClient.View.GoodsSale.GoodsSaleForm, CoralPOSClient" singleton="false">
    <property name="GoodsSaleController" ref="GoodsSaleController" />
  </object>

  <object id="GoodsSaleReturnView" type="CoralPOSClient.View.GoodsSale.GoodsSaleReturnForm, CoralPOSClient" singleton="false">
    <property name="GoodsSaleReturnController" ref="GoodsSaleReturnController" />
  </object>
  <object id="GoodsReturnChildView" type="CoralPOSClient.View.GoodsSale.GoodsReturnChildForm, CoralPOSClient" singleton="false">
    <property name="GoodsSaleReturnController" ref="GoodsSaleReturnController" />
  </object>
  
  <object id="GoodsSaleListView" type="CoralPOSClient.View.GoodsSale.GoodsSaleListForm, CoralPOSClient" singleton="false">
    <property name="GoodsSaleListController" ref="GoodsSaleListController" />
  </object>

  <object id="SearchGoodsSaleListView" type="CoralPOSClient.View.GoodsSale.SearchGoodsSaleListForm, CoralPOSClient" singleton="false">
    <property name="GoodsSaleListController" ref="GoodsSaleListController" />
  </object>
  
  <object id="DayGoodsSaleListView" type="CoralPOSClient.View.GoodsSale.DayGoodsSaleListForm, CoralPOSClient" singleton="false">
    <property name="GoodsSaleListController" ref="GoodsSaleListController" />
  </object>
  <object id="MonthGoodsSaleListView" type="CoralPOSClient.View.GoodsSale.MonthGoodsSaleListForm, CoralPOSClient" singleton="false">
    <property name="GoodsSaleListController" ref="GoodsSaleListController" />
  </object>

  <object id="ProductMasterView" type="CoralPOSClient.View.GoodsIO.ProductMasterForm, CoralPOSClient" singleton="false">    
    <property name="ProductMasterController" ref="ProductMasterController" />
  </object>

  <object id="ProductMasterCreateView" type="CoralPOSClient.View.GoodsIO.ProductMasterCreateForm, CoralPOSClient" singleton="false">
    <property name="ProductMasterController" ref="ProductMasterController" />
  </object>

  <object id="ProductMasterSearchOrCreateView" type="CoralPOSClient.View.GoodsIO.ProductMasterSearchOrCreateForm, CoralPOSClient" singleton="false">
    <property name="ProductMasterSearchOrCreateController" ref="ProductMasterSearchOrCreateController" />
  </object>
  <object id="ProductMasterSearchDepartmentView" type="CoralPOSClient.View.GoodsIO.DepartmentStockData.ProductMasterSearchDepartmentForm, CoralPOSClient" singleton="false">
    <property name="ProductMasterSearchDepartmentController" ref="ProductMasterSearchDepartmentController" />
  </object>

  <object id="ProductMasterSearchView" type="CoralPOSClient.View.GoodsIO.ProductMasterSearchForm, CoralPOSClient" singleton="false">
    <property name="ProductMasterSearchOrCreateController" ref="ProductMasterSearchOrCreateController" />
  </object>

  <object id="GoodsIOSearchView" type="CoralPOSClient.View.GoodsIO.GoodsIOSearchForm, CoralPOSClient" singleton="false">
    <property name="GoodsIOSearchController" ref="GoodsIOSearchController" />
  </object>
  <object id="StockCreateView" type="CoralPOSClient.View.GoodsIO.StockCreateForm, CoralPOSClient" singleton="false">
    <property name="StockCreateController" ref="StockCreateController" />
  </object>
  <object id="StockSearchView" type="CoralPOSClient.View.GoodsIO.StockSearchForm, CoralPOSClient" singleton="false">
    <property name="StockSearchController" ref="StockSearchController" />
  </object>
  <object id="DepartmentStockInView" type="CoralPOSClient.View.GoodsIO.DepartmentStockData.DepartmentStockInForm, CoralPOSClient" singleton="false">
    <property name="DepartmentStockInController" ref="DepartmentStockInExtraController" />
    <property name="ProductMasterSearchOrCreateController" ref="ProductMasterSearchOrCreateController" />
  </object>

  <object id="DepartmentStockInExtraView" type="CoralPOSClient.View.GoodsIO.DepartmentStockData.DepartmentStockInFromMainForm, CoralPOSClient" singleton="false">
    <property name="DepartmentStockInController" ref="DepartmentStockInExtraController" />
    <property name="ProductMasterSearchOrCreateController" ref="ProductMasterSearchOrCreateController" />
  </object>
  <object id="DepartmentStockSyncFromMainView" type="CoralPOSClient.View.GoodsIO.DepartmentStockData.DepartmentStockSyncFromMainForm, CoralPOSClient" singleton="false">
    <property name="DepartmentStockInController" ref="DepartmentStockInExtraController" />
    <property name="ProductMasterSearchOrCreateController" ref="ProductMasterSearchOrCreateController" />
  </object>

  <object id="DepartmentStockSearchView" type="CoralPOSClient.View.GoodsIO.DepartmentStockData.DepartmentStockSearchForm, CoralPOSClient" singleton="false">
    <property name="DepartmentStockSearchController" ref="DepartmentStockSearchController" />
  </object>
  <object id="UniversalMasterSaveView" type="CoralPOSClient.View.Masters.UniversalMasterCreateForm, CoralPOSClient" singleton="false">
    <property name="UniversalMasterSaveController" ref="UniversalMasterSaveController" />
  </object>
  <object id="DepartmentStockInDetailSearchView" type="CoralPOSClient.View.GoodsIO.DepartmentStockData.DepartmentStockInDetailSearchForm, CoralPOSClient" singleton="false">
    <property name="DepartmentStockDetailController" ref="DepartmentStockDetailController" />
  </object>
  <object id="DepartmentPriceUpdateView" type="CoralPOSClient.View.GoodsIO.DepartmentStockData.DepartmentPriceUpdateForm, CoralPOSClient" singleton="false">
    <property name="DepartmentPriceUpdateController" ref="DepartmentPriceUpdateController" />
  </object>
  <object id="DepartmentStockInSearchView" type="CoralPOSClient.View.GoodsIO.DepartmentStockData.DepartmentStockInSearchForm, CoralPOSClient" singleton="false">
    <property name="DepartmentStockInSearchController" ref="DepartmentStockInSearchController" />
  </object>

  <object id="MainStockInView" type="CoralPOSClient.View.GoodsIO.MainStock.MainStockInForm, CoralPOSClient" singleton="false">
    <property name="MainStockInController" ref="MainStockInController" />
  </object>
  <object id="MainStockInExtraView" type="CoralPOSClient.View.GoodsIO.MainStock.MainStockInExtraForm, CoralPOSClient" singleton="false">
    <property name="MainStockInController" ref="MainStockInController" />
  </object>
  <object id="MainStockInSearchView" type="CoralPOSClient.View.GoodsIO.MainStock.MainStockInSearchForm, CoralPOSClient" singleton="false">
    <property name="MainStockInSearchController" ref="MainStockInSearchController" />
  </object>
  <object id="ReportStockInParamView" type="CoralPOSClient.View.Reports.frmStockinRpt, CoralPOSClient" singleton="false">
    <property name ="ReportStockInController"  ref="ReportStockInController" />
  </object>
  
  <object id="ReportStockInView" type="CoralPOSClient.View.Reports.frmStockinStatistic, CoralPOSClient" singleton="false">
    <property name ="ReportStockInController"  ref="ReportStockInController" />
  </object>
  
  <object id="DepartmentStockInReportView" type="CoralPOSClient.View.Reports.DepartmentStockInReportForm, CoralPOSClient" singleton="false">
    <property name ="ReportStockInController"  ref="ReportStockInController" />
  </object>

  <object id="MainStockOutReportView" type="CoralPOSClient.View.Reports.MainStockOutReportForm, CoralPOSClient" singleton="false">
    <property name ="ReportStockOutController"  ref="ReportStockOutController" />
  </object>
  <object id="DepartmentStockOutConfirmView" type="CoralPOSClient.View.GoodsIO.DepartmentStockOutConfirmForm, CoralPOSClient" singleton="false">
    <property name ="ReportStockOutController"  ref="ReportStockOutController" />
  </object>
  
  <object id="InventoryCheckingView" type="CoralPOSClient.View.GoodsIO.MainStock.InventoryCheckingForm, CoralPOSClient" singleton="false">
    <property name ="InventoryCheckingController"  ref="InventoryCheckingController" />
  </object>

  <object id="ProcessErrorGoodsView" type="CoralPOSClient.View.GoodsIO.MainStock.ProcessErrorGoodsForm, CoralPOSClient" singleton="false">
    <property name ="ProcessErrorGoodsController"  ref="ProcessErrorGoodsController" />
  </object>
  
  <object id="DepartmentStockCheckingView" type="CoralPOSClient.View.GoodsIO.DepartmentStockData.DepartmentStockCheckingForm, CoralPOSClient" singleton="false">
    <property name ="DepartmentStockCheckingController"  ref="DepartmentStockCheckingController" />
  </object>

  <object id="DepartmentStockViewCheckingView" type="CoralPOSClient.View.GoodsIO.DepartmentStockData.DepartmentStockViewCheckingForm, CoralPOSClient" singleton="false">
    <property name ="DepartmentStockCheckingController"  ref="DepartmentStockViewCheckingController" />
  </object>

  <object id="BaseStockOutView" type="CoralPOSClient.View.GoodsIO.MainStock.BaseStockOutForm, CoralPOSClient" singleton="false">
    <property name ="BaseStockOutController"  ref="BaseStockOutController" />
  </object>

  <object id="MainStockInSearchReportView" type="CoralPOSClient.View.GoodsIO.MainStock.MainStockInSearchReportForm, CoralPOSClient" singleton="false">
    <property name="MainStockInSearchController" ref="MainStockInSearchController" />
  </object>

  <object id="MainStockOutExtraView" type="CoralPOSClient.View.GoodsIO.MainStock.MainStockOutExtraForm, CoralPOSClient" singleton="false">
    <property name="MainStockOutController" ref="MainStockOutController" />
  </object>
  <object id="MainReStockInExtraView" type="CoralPOSClient.View.GoodsIO.MainStock.MainReStockInExtraForm, CoralPOSClient" singleton="false">
    <property name="MainStockInController" ref="MainStockInController" />
  </object>
  <object id="DepartmentStockOutExtraView" type="CoralPOSClient.View.GoodsIO.DepartmentStockData.DepartmentStockOutExtraForm, CoralPOSClient" singleton="false">
    <property name="DepartmentStockOutController" ref="DepartmentStockOutController" />
  </object>

  <object id="DepartmentReStockInView" type="CoralPOSClient.View.GoodsIO.DepartmentStockData.DepartmentReStockInForm, CoralPOSClient" singleton="false">
    <property name="DepartmentStockInController" ref="DepartmentStockInController" />
  </object>

  <object id="RemainStockReport" type="CoralPOSClient.View.Reports.RemainStockReport, CoralPOSClient" singleton="false">
    <property name="StockSearchController" ref="StockSearchController" />
  </object>
  <object id="MainStockSearchByBarcodeView" type="CoralPOSClient.View.GoodsIO.MainStock.MainStockSearchByBarcodeForm, CoralPOSClient" singleton="false">
    <property name="StockSearchController" ref="StockSearchController" />
  </object>
  <object id="SyncToMainView" type="CoralPOSClient.View.GoodsIO.DepartmentStockData.SyncToMainForm, CoralPOSClient" singleton="false">
    <property name="DepartmentStockOutController" ref="DepartmentStockOutController" />
  </object>

  <object id="SecuritySettingsView" type="CoralPOSClient.View.SecuritySettingsForm, CoralPOSClient" singleton="false">
    <property name="SecurityController" ref="SecurityController" />
  </object>

  <object id="LoadDataFromDepartmentToMainView" type="CoralPOSClient.View.GoodsIO.DepartmentStockData.LoadDataFromDepartmentToMain, CoralPOSClient" singleton="false">
    <property name="DepartmentStockOutController" ref="DepartmentStockOutController" />
  </object>
  <object id="LoadDepartmentStockInToFileFormView" type="CoralPOSClient.View.GoodsIO.DepartmentStockData.LoadDepartmentStockInToFileForm, CoralPOSClient" singleton="false">
    <property name="DepartmentStockInController" ref="DepartmentStockInExtraController" />
    <property name="ProductMasterSearchOrCreateController" ref="ProductMasterSearchOrCreateController" />
  </object>
  <object id="DepartmentStockAdhocCheckingView" type="CoralPOSClient.View.Inventory.DepartmentStockAdhocCheckingForm, CoralPOSClient" singleton="false">
    <property name="DepartmentStockAdhocProcessingController" ref="DepartmentStockAdhocProcessingController" />    
  </object>
  <object id="DepartmentStockFixingView" type="CoralPOSClient.View.Inventory.DepartmentStockFixingForm, CoralPOSClient" singleton="false">
    <property name="DepartmentStockFixingController" ref="DepartmentStockFixingController" />
  </object>
  <object id="PosLogView" type="CoralPOSClient.View.PosLogForm, CoralPOSClient" singleton="false">
    <property name="PosLogController" ref="PosLogController" />
  </object>
  <!-- END Form definitions -->
</objects>
