<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="NHibernateMappingGenerator.Properties.Settings.Setting"
            connectionString="Data Source=XE;User ID=pos2;Password=admin;Unicode=True"
            providerName="System.Data.OracleClient" />
    </connectionStrings>
</configuration>