<?xml version="1.0" encoding="utf-8" ?>
<logicPermissions>
  <logicPermission>
    <logicNames>AppFrame.Logic.TestCustomerLogic</logicNames>
    <roles>*</roles>
  </logicPermission>
  <logicPermission>
    <logicNames>AppFrame.Logic.LoginLogic</logicNames>
    <roles>@</roles>
  </logicPermission>
</logicPermissions>

